/* Align */
.aBottom {
	bottom: 0;
}

.aCenter {
	left: auto;
	right: auto;
}

.aLeft {
	left: 0;
}

.aRight {
	right: 0 !important;
}

.aTop {
	top: 0;
}

.aContainer {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.aContainer .aAutocenter {
  left: 50%;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Background */
.bDefault, .bDefaultHover {
	background-color: #424242; /* grey-800 */
}

.bDefaultHover:hover {
	background-color: #212121; /* grey-900 */
}

.bDefault2, .bDefault2Hover {
	background-color: #E0E0E0; /* grey-300 */
}

.bDefault2Hover:hover {
	background-color: #BDBDBD; /* grey-400 */
}

.bPrimary, .bPrimaryHover {
	background-color: #428bca;
}

.bPrimaryHover:hover {
	background-color: #357ebd;
}

.bSecondary, .bSecondaryHover {
	background-color: #ca4242;
}

.bSecondaryHover:hover {
	background-color: #bd3535;
}

.bTertiary, .bTertiaryHover {
	background-color: #60c451;
}

.bTertiaryHover:hover {
	background-color: #4bbd35;
}

.bBlack, .bBlackHover {
	background-color: #000000; /* black */
}

.bBlackHover:hover {
	background-color: #212121; /* grey-900 */
}

.bDark, .bDarkHover {
	background-color: #212121; /* grey-900 */
}

.bDarkHover:hover {
	background-color: #000000; /* black */
}

.bInfo, .bInfoHover {
	background-color: #9E9E9E; /* grey-500 */
}

.bInfoHover:hover {
	background-color: #757575; /* grey-600 */
}

.bLight, .bLightHover {
	background-color: #F5F5F5; /* grey-100 */
}

.bLightHover:hover {
	background-color: #E0E0E0; /* grey-300 */
}

.bTransparent {
	background-color: transparent;
}

.bTransparentHover:hover {
	background-color: transparent;
}

.bWhite, .bWhiteHover {
	background-color: #FFFFFF; /* white */
}

.bWhiteHover:hover {
	background-color: #eaeaea;
}

.bsCover {
	background-size: cover;
}

.bTransition {
	transition: background .2s;
}

/* Border */
.bNone {
	border: none;
}

.bRadius {
	border-radius: 4px;
}

.bRadiusNone {
	border-radius: 0;
}

.bRadiusBottomLeft {
	border-bottom-left-radius: 4px;
}

.bRadiusBottomRight {
	border-bottom-right-radius: 4px;
}

.bRadiusTopLeft {
	border-top-left-radius: 4px;
}

.bRadiusTopRight {
	border-top-right-radius: 4px;
}

.bwNone {
	border-width: 0;
}

.bwBottomNone {
	border-bottom-width: 0;
}

.bwLeftNone {
	border-left-width: 0;
}

.bwRightNone {
	border-right-width: 0;
}

.bwNormal {
	border-width: 1px;
}

.bwBottomNormal {
	border-bottom-width: 1px;
}

.bwLeftNormal {
	border-left-width: 1px;
}

.bwRightNormal {
	border-right-width: 1px;
}

.bwTopNormal {
	border-top-width: 1px;
}

.bcInherit {
	border-color: inherit;
}

.bcDefault, .bcDefaultHover {
	border-color: #424242; /* grey-800 */
}

.bcDefaultHover:hover {
	border-color: #212121; /* grey-900 */
}

.bcDefault2, .bcDefault2Hover {
	border-color: #E0E0E0; /* grey-300 */
}

.bcDefault2Hover:hover {
	border-color: #BDBDBD; /* grey-400 */
}

.bcPrimary, .bcPrimaryHover {
	border-color: #428bca;
}

.bcPrimaryHover:hover {
	border-color: #357ebd;
}

.bcSecondary, .bcSecondaryHover {
	border-color: #ca4242;
}

.bcSecondaryHover:hover {
	border-color: #bd3535;
}

.bcTertiary, .bcTertiaryHover {
	border-color: #60c451;
}

.bcTertiaryHover:hover {
	border-color: #4bbd35;
}

.bcBlack, .bcBlackHover {
	border-color: #000000; /* black */
}

.bcBlackHover:hover {
	border-color: #212121; /* grey-900 */
}

.bcDark, .bcDarkHover {
	border-color: #212121; /* grey-900 */
}

.bcDarkHover:hover {
	border-color: #000000; /* black */
}

.bcInfo, .bcInfoHover {
	border-color: #9E9E9E; /* grey-500 */
}

.bcInfoHover:hover {
	border-color: #757575; /* grey-600 */
}

.bcLight, .bcLightHover {
	border-color: #F5F5F5; /* grey-100 */
}

.bcLightHover:hover {
	border-color: #E0E0E0; /* grey-300 */
}

.bcTransparent {
	border-color: transparent;
}

.bcTransparentHover:hover {
	border-color: transparent;
}

.bcWhite, .bcWhiteHover {
	border-color: #FFFFFF; /* white */
}

.bcWhiteHover:hover {
	border-color: #eaeaea;
}

.bsDashed {
	border-style: dashed;
}

.bsDotted {
	border-style: dotted;
}

.bsSolid {
	border-style: solid;
}

/* Box */
.bFlex1 {
	box-flex: 1;
}

.bFlex2 {
	box-flex: 2;
}

.bHorizontal {
	box-orient: horizontal;
}

.bVertical {
	box-orient: vertical;
}

.bSizing {
	box-sizing: border-box;
}

.bShadow {
	box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.bShadowFocus {
	border-color: rgba(82, 168, 236, .8);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .065), 0 0 8px rgba(82, 168, 236, .6);
	color: rgba(0,0,0,.87);
}

.bShadowInset {
	box-shadow: inset 0 0 10px rgba(0, 0, 0, .2);
}

.bShadow1dp, .bShadowZ1, .bShadow1dpHover:hover, .bShadowZ1Hover:hover, .bShadow1dpFocus:focus, .bShadowZ1Focus:focus {
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .2), 0px 1px 1px 0px rgba(0, 0, 0, .14), 0px 2px 1px -1px rgba(0, 0, 0, .12);
}

.bShadow2dp, .bShadow2dpHover:hover, .bShadow2dpFocus:focus {
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, .2), 0px 2px 2px 0px rgba(0, 0, 0, .14), 0px 3px 1px -2px rgba(0, 0, 0, .12);
}

.bShadow3dp, .bShadow3dpHover:hover, .bShadow3dpFocus:focus {
	box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, .2), 0px 3px 4px 0px rgba(0, 0, 0, .14), 0px 3px 3px -2px rgba(0, 0, 0, .12);
}

.bShadow4dp, .bShadowZ2, .bShadow4dpHover:hover, .bShadowZ2Hover:hover, .bShadow4dpFocus:focus, .bShadowZ2Focus:focus {
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, .2), 0px 4px 5px 0px rgba(0, 0, 0, .14), 0px 1px 10px 0px rgba(0, 0, 0, .12);
}

.bShadow5dp, .bShadow5dpHover:hover, .bShadow5dpFocus:focus {
	box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, .2), 0px 5px 8px 0px rgba(0, 0, 0, .14), 0px 1px 14px 0px rgba(0, 0, 0, .12);
}

.bShadow6dp, .bShadow6dpHover:hover, .bShadow6dpFocus:focus {
	box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, .2), 0px 6px 10px 0px rgba(0, 0, 0, .14), 0px 1px 18px 0px rgba(0, 0, 0, .12);
}

.bShadow7dp, .bShadowZ3, .bShadow7dpHover:hover, .bShadowZ3Hover:hover, .bShadow7dpFocus:focus, .bShadowZ3Focus:focus {
	box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, .2), 0px 7px 10px 1px rgba(0, 0, 0, .14), 0px 2px 16px 1px rgba(0, 0, 0, .12);
}

.bShadow8dp, .bShadow8dpHover:hover, .bShadow8dpFocus:focus {
	box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, .2), 0px 8px 10px 1px rgba(0, 0, 0, .14), 0px 3px 14px 2px rgba(0, 0, 0, .12);
}
.bShadow9dp, .bShadow9dpHover:hover, .bShadow9dpFocus:focus {
	box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, .2), 0px 9px 12px 1px rgba(0, 0, 0, .14), 0px 3px 16px 2px rgba(0, 0, 0, .12);
}

.bShadow10dp, .bShadowZ4, .bShadow10dpHover:hover, .bShadowZ4Hover:hover, .bShadow10dpFocus:focus, .bShadowZ4Focus:focus {
	box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, .2), 0px 10px 14px 1px rgba(0, 0, 0, .14), 0px 4px 18px 3px rgba(0, 0, 0, .12);
}

.bShadow11dp, .bShadow11dpHover:hover, .bShadow11dpFocus:focus {
	box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, .2), 0px 11px 15px 1px rgba(0, 0, 0, .14), 0px 4px 20px 3px rgba(0, 0, 0, .12);
}

.bShadow12dp, .bShadow12dpHover:hover, .bShadow12dpFocus:focus {
	box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, .2), 0px 12px 17px 2px rgba(0, 0, 0, .14), 0px 5px 22px 4px rgba(0, 0, 0, .12);
}

.bShadow13dp, .bShadowZ5, .bShadow13dpHover:hover, .bShadowZ5Hover:hover, .bShadow13dpFocus:focus, .bShadowZ5Focus:focus {
	box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, .2), 0px 13px 19px 2px rgba(0, 0, 0, .14), 0px 5px 24px 4px rgba(0, 0, 0, .12);
}

.bShadow14dp, .bShadow14dpHover:hover, .bShadow14dpFocus:focus {
	box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, .2), 0px 14px 21px 2px rgba(0, 0, 0, .14), 0px 5px 26px 4px rgba(0, 0, 0, .12);
}

.bShadow15dp, .bShadow15dpHover:hover, .bShadow15dpFocus:focus {
	box-shadow: 0px 8px 9px -5px rgba(0, 0, 0, .2), 0px 15px 22px 2px rgba(0, 0, 0, .14), 0px 6px 28px 5px rgba(0, 0, 0, .12);
}

.bShadow16dp, .bShadow16dpHover:hover, .bShadow16dpFocus:focus {
	box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, .2), 0px 16px 24px 2px rgba(0, 0, 0, .14), 0px 6px 30px 5px rgba(0, 0, 0, .12);
}

.bShadow17dp, .bShadow17dpHover:hover, .bShadow17dpFocus:focus {
	box-shadow: 0px 8px 11px -5px rgba(0, 0, 0, .2), 0px 17px 26px 2px rgba(0, 0, 0, .14), 0px 6px 32px 5px rgba(0, 0, 0, .12);
}

.bShadow18dp, .bShadow18dpHover:hover, .bShadow18dpFocus:focus {
	box-shadow: 0px 9px 11px -5px rgba(0, 0, 0, .2), 0px 18px 28px 2px rgba(0, 0, 0, .14), 0px 7px 34px 6px rgba(0, 0, 0, .12);
}

.bShadow19dp, .bShadow19dpHover:hover, .bShadow19dpFocus:focus {
	box-shadow: 0px 9px 12px -6px rgba(0, 0, 0, .2), 0px 19px 29px 2px rgba(0, 0, 0, .14), 0px 7px 36px 6px rgba(0, 0, 0, .12);
}

.bShadow20dp, .bShadow20dpHover:hover, .bShadow20dpFocus:focus {
	box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, .2), 0px 20px 31px 3px rgba(0, 0, 0, .14), 0px 8px 38px 7px rgba(0, 0, 0, .12);
}

.bShadow21dp, .bShadow21dpHover:hover, .bShadow21dpFocus:focus {
	box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, .2), 0px 21px 33px 3px rgba(0, 0, 0, .14), 0px 8px 40px 7px rgba(0, 0, 0, .12);
}

.bShadow22dp, .bShadow22dpHover:hover, .bShadow22dpFocus:focus {
	box-shadow: 0px 10px 14px -6px rgba(0, 0, 0, .2), 0px 22px 35px 3px rgba(0, 0, 0, .14), 0px 8px 42px 7px rgba(0, 0, 0, .12);
}

.bShadow23dp, .bShadow23dpHover:hover, .bShadow23dpFocus:focus {
	box-shadow: 0px 11px 14px -7px rgba(0, 0, 0, .2), 0px 23px 36px 3px rgba(0, 0, 0, .14), 0px 9px 44px 8px rgba(0, 0, 0, .12);
}

.bShadow24dp, .bShadow24dpHover:hover, .bShadow24dpFocus:focus {
	box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, .2), 0px 24px 38px 3px rgba(0, 0, 0, .14), 0px 9px 46px 8px rgba(0, 0, 0, .12);
}

.bShadowNone, .bShadow0dp, .bShadowZ0, .bShadowNoneHover:hover, .bShadow0dpHover:hover, .bShadowZ0Hover:hover, .bShadowNoneHover:disabled, .bShadowZ0Hover:disabled, .bShadowZ1Hover:disabled, .bShadowZ2Hover:disabled, .bShadowZ3Hover:disabled, .bShadowZ4Hover:disabled, .bShadowZ5Hover:disabled, .bShadow0dpHover:disabled, .bShadow1dpHover:disabled, .bShadow2dpHover:disabled, .bShadow3dpHover:disabled, .bShadow4dpHover:disabled, .bShadow5dpHover:disabled, .bShadow6dpHover:disabled, .bShadow7dpHover:disabled, .bShadow8dpHover:disabled, .bShadow9dpHover:disabled, .bShadow10dpHover:disabled, .bShadow11dpHover:disabled, .bShadow12dpHover:disabled, .bShadow13dpHover:disabled, .bShadow14dpHover:disabled, .bShadow15dpHover:disabled, .bShadow16dpHover:disabled, .bShadow17dpHover:disabled, .bShadow18dpHover:disabled, .bShadow19dpHover:disabled, .bShadow20dpHover:disabled, .bShadow21dpHover:disabled, .bShadow22dpHover:disabled, .bShadow23dpHover:disabled, .bShadow24dpHover:disabled, .bShadowNone:focus {
	box-shadow: none;
}

.bShadowTransition {
	transition-property: box-shadow;
    transition-duration: .28s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}


/* Color */
.cInherit {
	color: inherit;
}

.cDefault, .cDefaultHover {
	color: #424242; /* grey-800 */
}

.cDefaultHover:hover {
	color: #212121; /* grey-900 */
}

.cDefault2, .cDefault2Hover {
	color: #FFFFFF; /* white */
}

.cDefault2Hover:hover {
	color: #F5F5F5; /* grey-100 */
}

.cPrimary, .cPrimaryHover {
	color: #428bca;
}

.cPrimaryHover:hover {
	color: #357ebd;
}

.cSecondary, .cSecondaryHover {
	color: #ca4242;
}

.cSecondaryHover:hover {
	color: #bd3535;
}

.cTertiary, .cTertiaryHover {
	color: #60c451;
}

.cTertiaryHover:hover {
	color: #4bbd35;
}

.cBlack, .cBlackHover {
	color: #000000; /* black */
}

.cBlackHover:hover {
	color: #212121; /* grey-900 */
}

.cDark, .cDarkHover {
	color: #212121; /* grey-900 */
}

.cDarkHover:hover {
	color: #000000; /* black */
}

.cInfo, .cInfoHover {
	color: #9E9E9E; /* grey-500 */
}

.cInfoHover:hover {
	color: #757575; /* grey-600 */
}

.cLight, .cLightHover {
	color: #F5F5F5; /* grey-100 */
}

.cLightHover:hover {
	color: #E0E0E0; /* grey-300 */
}

.cWhite, .cWhiteHover {
	color: #FFFFFF; /* white */
}

.cWhiteHover:hover {
	color: #F5F5F5; /* grey-100 */
}

.cTransition {
	transition: color .2s;
}

/* Cursor */
.cDefault {
	cursor: default;
}

.cMove {
	cursor: move;
}

.cPointer {
	cursor: pointer;
}

.cWait {
	cursor: wait;
}

.cZoomIn {
	cursor:	zoom-in;
}

.cZoomOut {
	cursor:	zoom-out;
}

/* Display */
.dInline {
	display: inline;
}

.dInlineBlock {
	display: inline-block;
}

.dBlock {
	display: block;
}

.dBox {
	display: box;
}

.dNone {
	display: none;
}

/* Font */
.fInherit {
	font: inherit;
}

/* Font size */
.fs0 {
	font-size: 0;
}

.fs10 {
	font-size: 10px;
}

.fs12 {
	font-size: 12px;
}

.fs14 {
	font-size: 14px;
}

.fs16 {
	font-size: 16px;
}

.fs18 {
	font-size: 18px;
}

.fs20 {
	font-size: 20px;
}

.fs22 {
	font-size: 22px;
}

.fs24 {
	font-size: 24px;
}

.fs26 {
	font-size: 26px;
}

.fs28 {
	font-size: 28px;
}

.fs30 {
	font-size: 30px;
}

.fs32 {
	font-size: 32px;
}

.fs34 {
	font-size: 34px;
}

.fs36 {
	font-size: 36px;
}

.fs38 {
	font-size: 38px;
}

.fs40 {
	font-size: 40px;
}

.fs42 {
	font-size: 42px;
}

.fs44 {
	font-size: 44px;
}

.fs46 {
	font-size: 46px;
}


.fs48 {
	font-size: 48px;
}

.fs50 {
	font-size: 50px;
}

.fs52 {
	font-size: 52px;
}

.fs54 {
	font-size: 54px;
}

.fs56 {
	font-size: 56px;
}

.fs58 {
	font-size: 58px;
}

.fs60 {
	font-size: 60px;
}

.fs200 {
	font-size: 200px;
}

.fs400 {
	font-size: 400px;
}

/* Font weight */
.fwBold {
	font-weight: bold;
}

.fwNormal {
	font-weight: normal;
}

/* Float */
.fLeft {
	float: left;
}

.fRight {
	float: right;
}

/* letter-spacing */
.lsNone {
	letter-spacing: 0;
}

.lsSmall {
	letter-spacing: 5px;
}

.lsNormal {
	letter-spacing: 10px;
}

.lsLarge {
	letter-spacing: 20px;
}

.lInherit {
	letter-spacing: inherit;
}

/* Line height */
.lhNone {
	line-height: 0;
}

.lhNormal {
	line-height: normal;
}

.lh1 {
	line-height: 1;
}

.lhAuto {
	line-height: 100%;
}

/* Margin */
.mCenter {
	margin: auto;
}

.mNone {
	margin: 0 !important;
}

.mBottom {
	margin-bottom: 0;
}

.mLeft {
	margin-left: 0;
}

.mRight {
	margin-right: 0;
}

.mTop {
	margin-top: 0;
}

.mSmall {
	margin: 5px;
}

.mBottomSmall {
	margin-bottom: 5px;
}

.mLeftSmall {
	margin-left: 5px;
}

.mRightSmall {
	margin-right: 5px;
}

.mTopSmall {
	margin-top: 5px;
}

.mSmallNe {
	margin: -5px;
}

.mBottomSmallNe {
	margin-bottom: -5px;
}

.mLeftSmallNe {
	margin-left: -5px;
}

.mRightSmallNe {
	margin-right: -5px;
}

.mTopSmallNe {
	margin-top: -5px;
}

.mNormal {
	margin: 10px;
}

.mBottomNormal {
	margin-bottom: 10px ;
}

.mLeftNormal {
	margin-left: 10px;
}

.mRightNormal {
	margin-right: 10px;
}

.mTopNormal {
	margin-top: 10px;
}

.mNormalNe {
	margin: -10px;
}

.mBottomNormalNe {
	margin-bottom: -10px;
}

.mLeftNormalNe {
	margin-left: -10px;
}

.mRightNormalNe {
	margin-right: -10px;
}

.mTopNormalNe {
	margin-top: -10px;
}

.mLarge {
	margin: 20px;
}

.mBottomLarge {
	margin-bottom: 20px ;
}

.mLeftLarge {
	margin-left: 20px;
}

.mRightLarge {
	margin-right: 20px;
}

.mTopLarge {
	margin-top: 20px;
}

.mLargeNe {
	margin: -20px;
}

.mBottomLargeNe {
	margin-bottom: -20px;
}

.mLeftLargeNe {
	margin-left: -20px;
}

.mRightLargeNe {
	margin-right: -20px;
}

.mTopLargeNe {
	margin-top: -20px;
}

/* Opacity */
.oMax {
	opacity: 1;
}

.oMin {
	opacity: 0;
}

.oSmall {
	opacity: .8;
}

.oNormal {
	opacity: .5;
}

.oLarge {
	opacity: .2;
}

.oHover {
	opacity: 0;
}

.oHover:hover {
	opacity: 1;
}

.oHover2 {
	opacity: .2;
}

.oHover2:hover {
	opacity: .9;
}

.oTransition {
	transition: opacity .2s;
}

/* Overflow */
.oAuto {
 	overflow: auto;
}

.oAutoX {
 	overflow-x: auto;
}

.oAutoY {
 	overflow-y: auto;
}

.oHidden {
 	overflow: hidden;
}

.oHiddenX {
 	overflow-x: hidden;
}

.oHiddenY {
 	overflow-y: hidden;
}

.oVisible {
 	overflow: visible;
}

.oVisibleX {
 	overflow-x: visible;
}

.oVisibleY {
 	overflow-y: visible;
}

/* Padding */
.pNone {
	padding: 0;
}

.pBottom {
	padding-bottom: 0;
}

.pLeft {
	padding-left: 0;
}

.pRight {
	padding-right: 0;
}

.pTop {
	padding-top: 0;
}

.pSmall {
	padding: 5px;
}

.pBottomSmall {
	padding-bottom: 5px;
}

.pLeftSmall {
	padding-left: 5px;
}

.pRightSmall {
	padding-right: 5px;
}

.pTopSmall {
	padding-top: 5px;
}

.pSmallNe {
	padding: -5px;
}

.pBottomSmallNe {
	padding-bottom: -5px;
}

.pLeftSmallNe {
	padding-left: -5px;
}

.pRightSmallNe {
	padding-right: -5px;
}

.pTopSmallNe {
	padding-top: -5px;
}

.pNormal {
	padding: 10px;
}

.pBottomNormal {
	padding-bottom: 10px;
}

.pLeftNormal {
	padding-left: 10px;
}

.pRightNormal {
	padding-right: 10px;
}

.pTopNormal {
	padding-top: 10px;
}

.pNormalNe {
	padding: -10px;
}

.pBottomNormalNe {
	padding-bottom: -10px;
}

.pLeftNormalNe {
	padding-left: -10px;
}

.pRightNormalNe {
	padding-right: -10px;
}

.pTopNormalNe {
	padding-top: -10px;
}

.pLarge {
	padding: 20px;
}

.pBottomLarge {
	padding-bottom: 20px;
}

.pLeftLarge {
	padding-left: 20px;
}

.pRightLarge {
	padding-right: 20px;
}

.pTopLarge {
	padding-top: 20px;
}

.pLargeNe {
	padding: -20px;
}

.pBottomLargeNe {
	padding-bottom: -20px;
}

.pLeftLargeNe {
	padding-left: -20px;
}

.pRightLargeNe {
	padding-right: -20px;
}

.pTopLargeNe {
	padding-top: -20px;
}

/* Pointer */
.pEventsNone {
	pointer-events: none;
}

.pEventsVisible {
	pointer-events: visible ;
}

/* Position */
.pAbsolute {
	position: absolute;
}

.pStatic {
	position: static;
}

.pFixed {
	position: fixed;
}

.pRelative {
	position: relative;
}

.pBottomLeft {
	left: 0;
	position: absolute;
	bottom: 0;
}

.pBottomRight {
	right: 0;
	position: absolute;
	bottom: 0;
}

.pTopLeft {
	left: 0;
	position: absolute;
	top: 0;
}

.pTopRight {
	right: 0;
	position: absolute;
	top: 0;
}

/* Select */
.unselectable {
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
}

/* Size */
.maxH100 {
	max-height: 100%;
}

.minH100 {
	min-height: 100%;
}

.hInherit {
	height: inherit;
}

.h100v {
	height: 100vh;
}

.h0 {
	height: 0;
}

.h5 {
	height: 5;
}

.h10 {
	height: 10%;
}

.h15 {
	height: 15%;
}

.h20 {
	height: 20%;
}

.h25 {
	height: 25%;
}

.h30 {
	height: 30%;
}

.h35 {
	height: 35%;
}

.h40 {
	height: 40%;
}

.h45 {
	height: 45%;
}

.h50 {
	height: 50%;
}

.h55 {
	height: 55%;
}

.h60 {
	height: 60%;
}

.h65 {
	height: 65%;
}

.h70 {
	height: 70%;
}

.h75 {
	height: 75%;
}

.h80 {
	height: 80%;
}

.h85 {
	height: 85%;
}

.h90 {
	height: 90%;
}

.h95 {
	height: 95%;
}

.h100 {
	height: 100%;
}

.h105 {
	height: 105%;
}

.h110 {
	height: 110%;
}

.hAuto {
	height: auto;
}

.hTransition {
	transition: height .2s;
}

.mwLarge {
	max-width: 960px;
}

.mwNormal {
	max-width: 640px;
}

.mwSmall {
	max-width: 320px;
}

.maxW100 {
	max-width: 100%;
}

.minW100 {
	min-width: 100%;
}

.wInherit {
	width: inherit;
}

.wLarge {
	width: 960px;
}

.wNormal {
	width: 640px;
}

.wSmall {
	width: 320px;
}

.w100v {
	width: 100vw;
}

.w0 {
	width: 0;
}

.w5 {
	width: 5%;
}

.w10 {
	width: 10%;
}

.w15 {
	width: 15%;
}

.w20 {
	width: 20%;
}

.w25 {
	width: 25%;
}

.w30 {
	width: 30%;
}

.w35 {
	width: 35%;
}

.w40 {
	width: 40%;
}

.w45 {
	width: 45%;
}

.w50 {
	width: 50%;
}

.w55 {
	width: 55%;
}

.w60 {
	width: 60%;
}

.w65 {
	width: 65%;
}

.w70 {
	width: 70%;
}

.w75 {
	width: 75%;
}

.w80 {
	width: 80%;
}

.w85 {
	width: 85%;
}

.w90 {
	width: 90%;
}

.w95 {
	width: 95%;
}

.w100 {
	width: 100%;
}

.w105 {
	width: 105%;
}

.w110 {
	width: 110%;
}

.wAuto {
	width: auto;
}

.wTransition {
	transition: width .2s;
}

/* White space */
.wsNormal {
	white-space: normal;
}

.wsNowrap {
	white-space: nowrap;
}

.wsPre {
	white-space: pre;
}

.wsPreLine {
	white-space: pre-line;
}

.wsPreWrap {
	white-space: pre-wrap;
}

/* Word */
.wbAll {
	word-break: break-all;
}

.wbNormal {
	word-break: normal;
}

.wbWord {
	word-break: break-word;
}

/* Text align */
.tCenter {
	text-align: center !important;
}

.tJustify {
	text-align: justify;
}

.tLeft {
	text-align: left;
}

.tRight {
	text-align: right;
}

/* Text decoration */
.tdNone {
	text-decoration: none;
}

.tdUnderline {
	text-decoration: underline;
}

.tdOverline {
	text-decoration: overline;
}

/* Text transform */
.tLowercase {
	text-transform: lowercase;
}

.tUppercase {
	text-transform: uppercase;
}

/* Transform */
.perspective {
	perspective: 1000px;
}

.perspective2D {
	transform-style: preserve-2d;
}

.perspective3D {
	transform-style: preserve-3d;
}

/* Transform origin*/
.toXleftYbottom {
	transform-origin: left bottom 0;
}

.toXleftYcenter {
	transform-origin: left center 0;
}

.toXleftYtop {
	transform-origin: left top 0;
}

.toXcenterYbottom {
	transform-origin: center bottom 0;
}

.toXcenterYcenter {
	transform-origin: center center 0;
}

.toXcenterYtop {
	transform-origin: center top 0;
}

.toXrightYbottom {
	transform-origin: right bottom 0;
}

.toXrightYcenter {
	transform-origin: right center 0;
}

.toXrightYtop {
	transform-origin: right top 0;
}

/* Transform rotate*/
.trx0 {
	transform: rotateX(0deg);
}

.trx45 {
	transform: rotateX(45deg);
}

.trx90 {
	transform: rotateX(90deg);
}

.trx135 {
	transform: rotateX(135deg);
}

.trx180 {
	transform: rotateX(180deg);
}

.trx225 {
	transform: rotateX(225deg);
}

.trx270 {
	transform: rotateX(270deg);
}

.trx315 {
	transform: rotateX(315deg);
}

.trx360 {
	transform: rotateX(360deg);
}

.trx0Ne {
	transform: rotateX(-0deg);
}

.trx45Ne {
	transform: rotateX(-45deg);
}

.trx90Ne {
	transform: rotateX(-90deg);
}

.trx135Ne {
	transform: rotateX(-135deg);
}

.trx180Ne {
	transform: rotateX(-180deg);
}

.trx225Ne {
	transform: rotateX(-225deg);
}

.trx270Ne {
	transform: rotateX(-270deg);
}

.trx315Ne {
	transform: rotateX(-315deg);
}

.trx360Ne {
	transform: rotateX(-360deg);
}

.try0 {
	transform: rotateY(0deg);
}

.try45 {
	transform: rotateY(45deg);
}

.try90 {
	transform: rotateY(90deg);
}

.try135 {
	transform: rotateY(135deg);
}

.try180 {
	transform: rotateY(180deg);
}

.try225 {
	transform: rotateY(225deg);
}

.try270 {
	transform: rotateY(270deg);
}

.try315 {
	transform: rotateY(315deg);
}

.try360 {
	transform: rotateY(360deg);
}

.try0Ne {
	transform: rotateY(-0deg);
}

.try45Ne {
	transform: rotateY(-45deg);
}

.try90Ne {
	transform: rotateY(-90deg);
}

.try135Ne {
	transform: rotateY(-135deg);
}

.try180Ne {
	transform: rotateY(-180deg);
}

.try225Ne {
	transform: rotateY(-225deg);
}

.try270Ne {
	transform: rotateY(-270deg);
}

.try315Ne {
	transform: rotateY(-315deg);
}

.try360Ne {
	transform: rotateY(-360deg);
}

.trz0 {
	transform: rotateZ(0deg);
}

.trz45 {
	transform: rotateZ(45deg);
}

.trz90 {
	transform: rotateZ(90deg);
}

.trz135 {
	transform: rotateZ(135deg);
}

.trz180 {
	transform: rotateZ(180deg);
}

.trz225 {
	transform: rotateZ(225deg);
}

.trz270 {
	transform: rotateZ(270deg);
}

.trz315 {
	transform: rotateZ(315deg);
}

.trz360 {
	transform: rotateZ(360deg);
}

.trz0Ne {
	transform: rotateZ(-0deg);
}

.trz45Ne {
	transform: rotateZ(-45deg);
}

.trz90Ne {
	transform: rotateZ(-90deg);
}

.trz135Ne {
	transform: rotateZ(-135deg);
}

.trz180Ne {
	transform: rotateZ(-180deg);
}

.trz225Ne {
	transform: rotateZ(-225deg);
}

.trz270Ne {
	transform: rotateZ(-270deg);
}

.trz315Ne {
	transform: rotateZ(-315deg);
}

.trz360Ne {
	transform: rotateZ(-360deg);
}

/* Transition */
.tTransform {
	transition: transform .2s;
}

.tAll {
	transition: all .2s;
}

/* Vertical align */
.vBottom {
	vertical-align: bottom;
}

.vMiddle {
	vertical-align: middle;
}

.vTop {
	vertical-align: top;
}

/* Visibility */
.vHidden {
	visibility: hidden;
}

.vVisible {
	visibility: visible;
}

/* Z index */
.zMin {
	z-index: -1;
}

.zNone{
	z-index: 0;
}

.zNormal {
	z-index: 1;
}

.zModal {
	z-index: 2000;
}

.zModalChildren {
	z-index: 2500;
}

/* print */
@media print {
	body {
	    padding: 2mm;
	}
	
	main {
	    padding: 2mm 10mm;
	}
	
	.print {
		display: block;
	}

	.noPrint {
		display: none;
	}
}