/* Generix */
@media print {
    .print {
        display: block;
    }

    .noPrint {
        display: none;
    }
}

/* Align */
.aBottom {
	bottom: 0;
}

.aCenter {
	left: auto;
	right: auto;
}

.aLeft {
	left: 0;
}

.aRight {
	right: 0 !important;
}

.aTop {
	top: 0;
}

.aTop50 {
	top: 50%;
}

/* Background */
.bBlack {
	background: #000;
}

.bDark {
	background: #555;
}

.bHover:hover {
	background: #eaeaea;
}

.bInfo {
	background: #999;
}

.bLight {
	background: #f5f5f5;
}

.bTransparent {
	background: transparent;
}

.bWhite {
	background: #fff;
}

.bsCover {
	background-size: cover;
}

.bTransition {
    -webkit-transition: background .2s;
       -moz-transition: background .2s;
            transition: background .2s;
}

/* Border */
.bNone {
	border: none;
}

.bRadius {
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

.bRadiusNone {
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
}

.bRadiusBottomLeft {
	-webkit-border-bottom-left-radius: 4px;
	   -moz-border-radius-bottomleft: 4px;
	        border-bottom-left-radius: 4px;
}

.bRadiusBottomRight {
	-webkit-border-bottom-right-radius: 4px;
	   -moz-border-radius-bottomright: 4px;
	        border-bottom-right-radius: 4px;
}

.bRadiusTopLeft {
	-webkit-border-top-left-radius: 4px;
	   -moz-border-radius-topleft: 4px;
	        border-top-left-radius: 4px;
}

.bRadiusTopRight {
	-webkit-border-top-right-radius: 4px;
	   -moz-border-radius-topright: 4px;
	        border-top-right-radius: 4px;
}

.bwNone {
	border-width: 0;
}

.bwBottomNone {
	border-bottom-width: 0;
}

.bwLeftNone {
	border-left-width: 0;
}

.bwRightNone {
	border-right-width: 0;
}

.bwNormal {
	border-width: 1px;
}

.bwBottomNormal {
	border-bottom-width: 1px;
}

.bwLeftNormal {
	border-left-width: 1px;
}

.bwRightNormal {
	border-right-width: 1px;
}

.bwTopNormal {
	border-top-width: 1px;
}

.bcInherit {
	border-color: inherit;
}

.bcDefault, .bcDefaultHover {
	border-color: #474949;
}

.bcDefaultHover:hover {
	border-color: #3a3c3c;
}

.bcDefault2, .bcDefault2Hover {
	border-color: #fff;
}

.bcDefault2Hover:hover {
	border-color: #f2f2f2;
}

.bcPrimary, .bcPrimaryHover {
	border-color: #428bca;
}

.bcPrimaryHover:hover {
	border-color: #357ebd;
}

.bcSecondary, .bcSecondaryHover {
	border-color: #ca4242;
}

.bcSecondaryHover:hover {
	border-color: #bd3535;
}

.bcTertiary, .bcTertiaryHover {
	border-color: #60c451;
}

.bcTertiaryHover:hover {
	border-color: #4bbd35;
}

.bcQuaternary, .bcQuaternaryHover {
	border-color: #f2f2f2;
}

.bcQuaternaryHover:hover {
	border-color: #eaeaea;
}

.bcBlack, .bcBlackHover {
	border-color: #000;
}

.bcBlackHover:hover {
	border-color: #555;
}

.bcDark, .bcDarkHover {
	border-color: #555;
}

.bcDarkHover:hover {
	border-color: #111;
}

.bcInfo, .bcInfoHover {
	border-color: #999;
}

.bcInfoHover:hover {
	border-color: #444;
}

.bcLight, .bcLightHover {
	border-color: #f2f2f2;
}

.bcLightHover:hover {
	border-color: #e2e2e2;
}

.bcWhite, .bcWhiteHover {
	border-color: #fff;
}

.bcWhiteHover:hover {
	border-color: #bbb;
}

.bsDashed {
	border-style: dashed;
}

.bsDotted {
	border-style: dotted;
}

.bsSolid {
	border-style: solid;
}

/* Box */
.bFlex1 {
	-webkit-box-flex: 1;
	   -moz-box-flex: 1;
	        box-flex: 1;
}

.bFlex2 {
	-webkit-box-flex: 2;
	   -moz-box-flex: 2;
	        box-flex: 2;
}

.bHorizontal {
	-webkit-box-orient: horizontal;
	   -moz-box-orient: horizontal;
	        box-orient: horizontal;
}

.bShadow {
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.1);
	   -moz-box-shadow: 0 2px 4px rgba(0,0,0,.1);
	        box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.bShadowFocus {
	border-color: rgba(82, 168, 236, .8);
	color: #777;

	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .065), 0 0 8px rgba(82, 168, 236, .6);
	   -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .065), 0 0 8px rgba(82, 168, 236, .6);
	        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .065), 0 0 8px rgba(82, 168, 236, .6);
}

.bShadowInset {
	-webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, .2);
	   -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, .2);
	        box-shadow: inset 0 0 10px rgba(0, 0, 0, .2);
}

.bShadowNone {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}

.bSizing {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.bVertical {
	-webkit-box-orient: vertical;
	   -moz-box-orient: vertical;
	        box-orient: vertical;
}

/* Color */
.cInherit {
	color: inherit;
}

.cDefault, .cDefaultHover {
	color: #474949;
}

.cDefaultHover:hover {
	color: #3a3c3c;
}

.cDefault2, .cDefault2Hover {
	color: #fff;
}

.cDefault2Hover:hover {
	color: #f2f2f2;
}

.cPrimary, .cPrimaryHover {
	color: #428bca;
}

.cPrimaryHover:hover {
	color: #357ebd;
}

.cSecondary, .cSecondaryHover {
	color: #ca4242;
}

.cSecondaryHover:hover {
	color: #bd3535;
}

.cTertiary, .cTertiaryHover {
	color: #60c451;
}

.cTertiaryHover:hover {
	color: #4bbd35;
}

.cQuaternary, .cQuaternaryHover {
	color: #f2f2f2;
}

.cQuaternaryHover:hover {
	color: #eaeaea;
}

.cBlack, .cBlackHover {
	color: #000;
}

.cBlackHover:hover {
	color: #555;
}

.cDark, .cDarkHover {
	color: #555;
}

.cDarkHover:hover {
	color: #111;
}

.cInfo, .cInfoHover {
	color: #999;
}

.cInfoHover:hover {
	color: #444;
}

.cLight, .cLightHover {
	color: #f2f2f2;
}

.cLightHover:hover {
	color: #e2e2e2;
}

.cWhite, .cWhiteHover {
	color: #fff;
}

.cWhiteHover:hover {
	color: #bbb;
}

.cTransition {
    -webkit-transition: color .2s;
       -box-transition: color .2s;
            transition: color .2s;
}

/* Cursor */
.cDefault {
	cursor: default;
}

.cMove {
	cursor: move;
}

.cPointer {
	cursor: pointer;
}

.cWait {
	cursor: wait;
}

.cZoomIn {
	cursor: -webkit-zoom-in;
	cursor:    -moz-zoom-in;
	cursor:         zoom-in;
}

.cZoomOut {
	cursor: -webkit-zoom-out;
	cursor:    -moz-zoom-out;
	cursor:         zoom-out;
}

/* Display */
.dInline {
	display: inline;
}

.dInlineBlock {
	display: inline-block;
}

.dBlock {
	display: block;
}

.dBox {
	display: -webkit-box;
	display:    -moz-box;
	display:         box;
}

.dNone {
	display: none;
}

/* Font */
.fInherit {
	font: inherit;
}

/* Font size */
.fNone {
	font-size: 0;
}

.fs10 {
	font-size: 10px;
}

.fs12 {
	font-size: 12px;
}

.fs14 {
	font-size: 14px;
}

.fs16 {
	font-size: 16px;
}

.fs18 {
	font-size: 18px;
}

.fs20 {
	font-size: 20px;
}

.fs22 {
	font-size: 22px;
}

.fs24 {
	font-size: 24px;
}

.fs26 {
	font-size: 26px;
}

.fs28 {
	font-size: 28px;
}

.fs30 {
	font-size: 30px;
}

.fs32 {
	font-size: 32px;
}

.fs34 {
	font-size: 34px;
}

.fs36 {
	font-size: 36px;
}

.fs38 {
	font-size: 38px;
}

.fs40 {
	font-size: 40px;
}

.fs42 {
	font-size: 42px;
}

.fs44 {
	font-size: 44px;
}

.fs46 {
	font-size: 46px;
}


.fs48 {
	font-size: 48px;
}

.fs50 {
	font-size: 50px;
}

.fs52 {
	font-size: 52px;
}

.fs54 {
	font-size: 54px;
}

.fs56 {
	font-size: 56px;
}

.fs58 {
	font-size: 58px;
}

.fs60 {
	font-size: 60px;
}

.fs200 {
	font-size: 200px;
}

.fs400 {
	font-size: 400px;
}

/* Font weight */
.fwBold {
	font-weight: bold;
}

.fwNormal {
	font-weight: normal;
}

/* Float */
.fLeft {
	float: left;
}

.fRight {
	float: right;
}

/* letter-spacing */
.lsNone {
	letter-spacing: 0;
}

.lsSmall {
	letter-spacing: 5px;
}

.lsNormal {
	letter-spacing: 10px;
}

.lsLarge {
	letter-spacing: 20px;
}

.lInherit {
	letter-spacing: inherit;
}

/* Line height */

.lhNone {
	line-height: 0;
}

.lh1 {
	line-height: 1;
}

.lhAuto {
	line-height: 100%;
}

/* Margin */
.mCenter {
	margin: auto;
}

.mNone {
	margin: 0 !important;
}

.mBottom {
	margin-bottom: 0;
}

.mLeft {
	margin-left: 0;
}

.mRight {
	margin-right: 0;
}

.mTop {
	margin-top: 0;
}

.mSmall {
	margin: 5px;
}

.mBottomSmall {
	margin-bottom: 5px;
}

.mLeftSmall {
	margin-left: 5px;
}

.mRightSmall {
	margin-right: 5px;
}

.mTopSmall {
	margin-top: 5px;
}

.mSmallNe {
	margin: -5px;
}

.mBottomSmallNe {
	margin-bottom: -5px;
}

.mLeftSmallNe {
	margin-left: -5px;
}

.mRightSmallNe {
	margin-right: -5px;
}

.mTopSmallNe {
	margin-top: -5px;
}

.mNormal {
	margin: 10px;
}

.mBottomNormal {
	margin-bottom: 10px ;
}

.mLeftNormal {
	margin-left: 10px;
}

.mRightNormal {
	margin-right: 10px;
}

.mTopNormal {
	margin-top: 10px;
}

.mNormalNe {
	margin: -10px;
}

.mBottomNormalNe {
	margin-bottom: -10px;
}

.mLeftNormalNe {
	margin-left: -10px;
}

.mRightNormalNe {
	margin-right: -10px;
}

.mTopNormalNe {
	margin-top: -10px;
}

.mLarge {
	margin: 20px;
}

.mBottomLarge {
	margin-bottom: 20px ;
}

.mLeftLarge {
	margin-left: 20px;
}

.mRightLarge {
	margin-right: 20px;
}

.mTopLarge {
	margin-top: 20px;
}

.mLargeNe {
	margin: -20px;
}

.mBottomLargeNe {
	margin-bottom: -20px;
}

.mLeftLargeNe {
	margin-left: -20px;
}

.mRightLargeNe {
	margin-right: -20px;
}

.mTopLargeNe {
	margin-top: -20px;
}

/* Opacity */
.oMax {
	opacity: 1;
}

.oMin {
	opacity: 0;
}

.oSmall {
	opacity: .2;
}

.oNormal {
	opacity: .5;
}

.oLarge {
	opacity: .8;
}

.oHover {
	opacity: 0;
}

.oHover:hover {
	opacity: 1;
}

.oHover2 {
	opacity: .2;
}

.oHover2:hover {
	opacity: .9;
}

.oTransition {
    -webkit-transition: opacity .2s;
       -moz-transition: opacity .2s;
            transition: opacity .2s;
}

/* Overflow */
.oAuto {
 	overflow: auto;
}

.oAutoX {
 	overflow-x: auto;
}

.oAutoY {
 	overflow-y: auto;
}

.oHidden {
 	overflow: hidden;
}

.oHiddenX {
 	overflow-x: hidden;
}

.oHiddenY {
 	overflow-y: hidden;
}

.oVisible {
 	overflow: visible;
}

.oVisibleX {
 	overflow-x: visible;
}

.oVisibleY {
 	overflow-y: visible;
}

/* Padding */
.pNone {
	padding: 0;
}

.pBottom {
	padding-bottom: 0;
}

.pLeft {
	padding-left: 0;
}

.pRight {
	padding-right: 0;
}

.pTop {
	padding-top: 0;
}

.pSmall {
	padding: 5px;
}

.pBottomSmall {
	padding-bottom: 5px;
}

.pLeftSmall {
	padding-left: 5px;
}

.pRightSmall {
	padding-right: 5px;
}

.pTopSmall {
	padding-top: 5px;
}

.pSmallNe {
	padding: -5px;
}

.pBottomSmallNe {
	padding-bottom: -5px;
}

.pLeftSmallNe {
	padding-left: -5px;
}

.pRightSmallNe {
	padding-right: -5px;
}

.pTopSmallNe {
	padding-top: -5px;
}

.pNormal {
	padding: 10px;
}

.pBottomNormal {
	padding-bottom: 10px;
}

.pLeftNormal {
	padding-left: 10px;
}

.pRightNormal {
	padding-right: 10px;
}

.pTopNormal {
	padding-top: 10px;
}

.pNormalNe {
	padding: -10px;
}

.pBottomNormalNe {
	padding-bottom: -10px;
}

.pLeftNormalNe {
	padding-left: -10px;
}

.pRightNormalNe {
	padding-right: -10px;
}

.pTopNormalNe {
	padding-top: -10px;
}

.pLarge {
	padding: 20px;
}

.pBottomLarge {
	padding-bottom: 20px;
}

.pLeftLarge {
	padding-left: 20px;
}

.pRightLarge {
	padding-right: 20px;
}

.pTopLarge {
	padding-top: 20px;
}

.pLargeNe {
	padding: -20px;
}

.pBottomLargeNe {
	padding-bottom: -20px;
}

.pLeftLargeNe {
	padding-left: -20px;
}

.pRightLargeNe {
	padding-right: -20px;
}

.pTopLargeNe {
	padding-top: -20px;
}

/* Pointer */
.pEventsNone {
	pointer-events: none;
}

.pEventsVisible {
	pointer-events: visible ;
}

/* Position */
.pAbsolute {
	position: absolute;
}

.pStatic {
	position: static;
}

.pFixed {
	position: fixed;
}

.pRelative {
	position: relative;
}

.pBottomLeft {
	left: 0;
	position: absolute;
	bottom: 0;
}

.pBottomRight {
	right: 0;
	position: absolute;
	bottom: 0;
}

.pTopLeft {
	left: 0;
	position: absolute;
	top: 0;
}

.pTopRight {
	right: 0;
	position: absolute;
	top: 0;
}

/* Select */
.unselectable {
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
}

/* Size */
.maxH100 {
	max-height: 100%;
}

.minH100 {
	min-height: 100%;
}

.hInherit {
	height: inherit;
}

.h0 {
	height: 0;
}

.h5 {
	height: 5;
}

.h10 {
	height: 10%;
}

.h15 {
	height: 15%;
}

.h20 {
	height: 20%;
}

.h25 {
	height: 25%;
}

.h30 {
	height: 30%;
}

.h35 {
	height: 35%;
}

.h40 {
	height: 40%;
}

.h45 {
	height: 45%;
}

.h50 {
	height: 50%;
}

.h55 {
	height: 55%;
}

.h60 {
	height: 60%;
}

.h65 {
	height: 65%;
}

.h70 {
	height: 70%;
}

.h75 {
	height: 75%;
}

.h80 {
	height: 80%;
}

.h85 {
	height: 85%;
}

.h90 {
	height: 90%;
}

.h95 {
	height: 95%;
}

.h100 {
	height: 100%;
}

.h105 {
	height: 105%;
}

.h110 {
	height: 110%;
}

.hAuto {
	height: auto;
}

.hTransition {
    -webkit-transition: height .2s;
       -moz-transition: height .2s;
            transition: height .2s;
}

.mwLarge {
	max-width: 960px;
}

.mwNormal {
	max-width: 640px;
}

.mwSmall {
	max-width: 320px;
}

.maxW100 {
	max-width: 100%;
}

.minW100 {
	min-width: 100%;
}

.wInherit {
	width: inherit;
}

.wLarge {
	width: 960px;
}

.wNormal {
	width: 640px;
}

.wSmall {
	width: 320px;
}

.w0 {
	width: 0;
}

.w5 {
	width: 5%;
}

.w10 {
	width: 10%;
}

.w15 {
	width: 15%;
}

.w20 {
	width: 20%;
}

.w25 {
	width: 25%;
}

.w30 {
	width: 30%;
}

.w35 {
	width: 35%;
}

.w40 {
	width: 40%;
}

.w45 {
	width: 45%;
}

.w50 {
	width: 50%;
}

.w55 {
	width: 55%;
}

.w60 {
	width: 60%;
}

.w65 {
	width: 65%;
}

.w70 {
	width: 70%;
}

.w75 {
	width: 75%;
}

.w80 {
	width: 80%;
}

.w85 {
	width: 85%;
}

.w90 {
	width: 90%;
}

.w95 {
	width: 95%;
}

.w100 {
	width: 100%;
}

.w105 {
	width: 105%;
}

.w110 {
	width: 110%;
}

.wAuto {
	width: auto;
}

.wTransition {
    -webkit-transition: width .2s;
       -moz-transition: width .2s;
            transition: width .2s;
}

/* Word */
.wbNormal {
	word-break: normal;
}

/* Text align */
.tCenter {
	text-align: center !important;
}

.tJustify {
	text-align: justify;
}

.tLeft {
	text-align: left;
}

.tRight {
	text-align: right;
}

/* Text decoration */
.tdNone {
	text-decoration: none;
}

.tdUnderline {
	text-decoration: underline;
}

.tdOverline {
	text-decoration: overline;
}

/* Text transform */
.tLowercase {
	text-transform: lowercase;
}

.tUppercase {
	text-transform: uppercase;
}

/* Transform */
.perspective {
	-webkit-perspective: 1000px;
	   -moz-perspective: 1000px;
	        perspective: 1000px;
}

.perspective2D {
	webkit-transform-style: preserve-2d;
	  -moz-transform-style: preserve-2d;
	       transform-style: preserve-2d;
}

.perspective3D {
	webkit-transform-style: preserve-3d;
	  -moz-transform-style: preserve-3d;
	       transform-style: preserve-3d;
}


/* Transform rotate*/
.trx0 {
	-webkit-transform: rotateX(0deg);
	   -moz-transform: rotateX(0deg);
	        transform: rotateX(0deg);
}

.trx45 {
	-webkit-transform: rotateX(45deg);
	   -moz-transform: rotateX(45deg);
	        transform: rotateX(45deg);
}

.trx90 {
	-webkit-transform: rotateX(90deg);
	   -moz-transform: rotateX(90deg);
	        transform: rotateX(90deg);
}

.trx135 {
	-webkit-transform: rotateX(135deg);
	   -moz-transform: rotateX(135deg);
	        transform: rotateX(135deg);
}

.trx180 {
	-webkit-transform: rotateX(180deg);
	   -moz-transform: rotateX(180deg);
	        transform: rotateX(180deg);
}

.trx225 {
	-webkit-transform: rotateX(225deg);
	   -moz-transform: rotateX(225deg);
	        transform: rotateX(225deg);
}

.trx270 {
	-webkit-transform: rotateX(270deg);
	   -moz-transform: rotateX(270deg);
	        transform: rotateX(270deg);
}

.trx315 {
	-webkit-transform: rotateX(315deg);
	   -moz-transform: rotateX(315deg);
	        transform: rotateX(315deg);
}

.trx360 {
	-webkit-transform: rotateX(360deg);
	   -moz-transform: rotateX(360deg);
	        transform: rotateX(360deg);
}

.trx0Ne {
	-webkit-transform: rotateX(-0deg);
	   -moz-transform: rotateX(-0deg);
	        transform: rotateX(-0deg);
}

.trx45Ne {
	-webkit-transform: rotateX(-45deg);
	   -moz-transform: rotateX(-45deg);
	        transform: rotateX(-45deg);
}

.trx90Ne {
	-webkit-transform: rotateX(-90deg);
	   -moz-transform: rotateX(-90deg);
	        transform: rotateX(-90deg);
}

.trx135Ne {
	-webkit-transform: rotateX(-135deg);
	   -moz-transform: rotateX(-135deg);
	        transform: rotateX(-135deg);
}

.trx180Ne {
	-webkit-transform: rotateX(-180deg);
	   -moz-transform: rotateX(-180deg);
	        transform: rotateX(-180deg);
}

.trx225Ne {
	-webkit-transform: rotateX(-225deg);
	   -moz-transform: rotateX(-225deg);
	        transform: rotateX(-225deg);
}

.trx270Ne {
	-webkit-transform: rotateX(-270deg);
	   -moz-transform: rotateX(-270deg);
	        transform: rotateX(-270deg);
}

.trx315Ne {
	-webkit-transform: rotateX(-315deg);
	   -moz-transform: rotateX(-315deg);
	        transform: rotateX(-315deg);
}

.trx360Ne {
	-webkit-transform: rotateX(-360deg);
	   -moz-transform: rotateX(-360deg);
	        transform: rotateX(-360deg);
}

.try0 {
	-webkit-transform: rotateY(0deg);
	   -moz-transform: rotateY(0deg);
	        transform: rotateY(0deg);
}

.try45 {
	-webkit-transform: rotateY(45deg);
	   -moz-transform: rotateY(45deg);
	        transform: rotateY(45deg);
}

.try90 {
	-webkit-transform: rotateY(90deg);
	   -moz-transform: rotateY(90deg);
	        transform: rotateY(90deg);
}

.try135 {
	-webkit-transform: rotateY(135deg);
	   -moz-transform: rotateY(135deg);
	        transform: rotateY(135deg);
}

.try180 {
	-webkit-transform: rotateY(180deg);
	   -moz-transform: rotateY(180deg);
	        transform: rotateY(180deg);
}

.try225 {
	-webkit-transform: rotateY(225deg);
	   -moz-transform: rotateY(225deg);
	        transform: rotateY(225deg);
}

.try270 {
	-webkit-transform: rotateY(270deg);
	   -moz-transform: rotateY(270deg);
	        transform: rotateY(270deg);
}

.try315 {
	-webkit-transform: rotateY(315deg);
	   -moz-transform: rotateY(315deg);
	        transform: rotateY(315deg);
}

.try360 {
	-webkit-transform: rotateY(360deg);
	   -moz-transform: rotateY(360deg);
	        transform: rotateY(360deg);
}

.try0Ne {
	-webkit-transform: rotateY(-0deg);
	   -moz-transform: rotateY(-0deg);
	        transform: rotateY(-0deg);
}

.try45Ne {
	-webkit-transform: rotateY(-45deg);
	   -moz-transform: rotateY(-45deg);
	        transform: rotateY(-45deg);
}

.try90Ne {
	-webkit-transform: rotateY(-90deg);
	   -moz-transform: rotateY(-90deg);
	        transform: rotateY(-90deg);
}

.try135Ne {
	-webkit-transform: rotateY(-135deg);
	   -moz-transform: rotateY(-135deg);
	        transform: rotateY(-135deg);
}

.try180Ne {
	-webkit-transform: rotateY(-180deg);
	   -moz-transform: rotateY(-180deg);
	        transform: rotateY(-180deg);
}

.try225Ne {
	-webkit-transform: rotateY(-225deg);
	   -moz-transform: rotateY(-225deg);
	        transform: rotateY(-225deg);
}

.try270Ne {
	-webkit-transform: rotateY(-270deg);
	   -moz-transform: rotateY(-270deg);
	        transform: rotateY(-270deg);
}

.try315Ne {
	-webkit-transform: rotateY(-315deg);
	   -moz-transform: rotateY(-315deg);
	        transform: rotateY(-315deg);
}

.try360Ne {
	-webkit-transform: rotateY(-360deg);
	   -moz-transform: rotateY(-360deg);
	        transform: rotateY(-360deg);
}

.trz0 {
	-webkit-transform: rotateZ(0deg);
	   -moz-transform: rotateZ(0deg);
	        transform: rotateZ(0deg);
}

.trz45 {
	-webkit-transform: rotateZ(45deg);
	   -moz-transform: rotateZ(45deg);
	        transform: rotateZ(45deg);
}

.trz90 {
	-webkit-transform: rotateZ(90deg);
	   -moz-transform: rotateZ(90deg);
	        transform: rotateZ(90deg);
}

.trz135 {
	-webkit-transform: rotateZ(135deg);
	   -moz-transform: rotateZ(135deg);
	        transform: rotateZ(135deg);
}

.trz180 {
	-webkit-transform: rotateZ(180deg);
	   -moz-transform: rotateZ(180deg);
	        transform: rotateZ(180deg);
}

.trz225 {
	-webkit-transform: rotateZ(225deg);
	   -moz-transform: rotateZ(225deg);
	        transform: rotateZ(225deg);
}

.trz270 {
	-webkit-transform: rotateZ(270deg);
	   -moz-transform: rotateZ(270deg);
	        transform: rotateZ(270deg);
}

.trz315 {
	-webkit-transform: rotateZ(315deg);
	   -moz-transform: rotateZ(315deg);
	        transform: rotateZ(315deg);
}

.trz360 {
	-webkit-transform: rotateZ(360deg);
	   -moz-transform: rotateZ(360deg);
	        transform: rotateZ(360deg);
}

.trz0Ne {
	-webkit-transform: rotateZ(-0deg);
	   -moz-transform: rotateZ(-0deg);
	        transform: rotateZ(-0deg);
}

.trz45Ne {
	-webkit-transform: rotateZ(-45deg);
	   -moz-transform: rotateZ(-45deg);
	        transform: rotateZ(-45deg);
}

.trz90Ne {
	-webkit-transform: rotateZ(-90deg);
	   -moz-transform: rotateZ(-90deg);
	        transform: rotateZ(-90deg);
}

.trz135Ne {
	-webkit-transform: rotateZ(-135deg);
	   -moz-transform: rotateZ(-135deg);
	        transform: rotateZ(-135deg);
}

.trz180Ne {
	-webkit-transform: rotateZ(-180deg);
	   -moz-transform: rotateZ(-180deg);
	        transform: rotateZ(-180deg);
}

.trz225Ne {
	-webkit-transform: rotateZ(-225deg);
	   -moz-transform: rotateZ(-225deg);
	        transform: rotateZ(-225deg);
}

.trz270Ne {
	-webkit-transform: rotateZ(-270deg);
	   -moz-transform: rotateZ(-270deg);
	        transform: rotateZ(-270deg);
}

.trz315Ne {
	-webkit-transform: rotateZ(-315deg);
	   -moz-transform: rotateZ(-315deg);
	        transform: rotateZ(-315deg);
}

.trz360Ne {
	-webkit-transform: rotateZ(-360deg);
	   -moz-transform: rotateZ(-360deg);
	        transform: rotateZ(-360deg);
}

/* Transition */
.tTransform {
    -webkit-transition: -webkit-transform .5s;
       -moz-transition: -moz-transform .5s;
            transition: transform .5s;
}

.tAll {
    -webkit-transition: all .5s;
       -moz-transition: all .5s;
            transition: all .5s;
}

/* Vertical align */
.vBottom {
	vertical-align: bottom;
}

.vMiddle {
	vertical-align: middle;
}

.vTop {
	vertical-align: top;
}

/* Visibility */
.vHidden {
	visibility: hidden;
}

.vVisible {
	visibility: visible;
}

/* Z index */
.zMin {
	z-index: -1;
}

.zNone{
	z-index: 0;
}

.zNormal {
	z-index: 1;
}

.zModal {
	z-index: 2000;
}

.zModalChildren {
	z-index: 2500;
}