/* body */
div.separator {
	border-top: 1px solid #e7e7e7;
	padding: 5px;
	margin: 10px -10px 0 -10px;
}

div.separator2 {
	border-top: 1px dashed #e7e7e7;
	padding: 5px;
	margin: 10px -10px 0 -10px;
}

input.transparent {
	background: transparent;
	border: none;
	height: auto;
	margin: 0;
	padding: 0;
}

input.transparent:disabled {
	background: transparent !important;
}

input.transparent:focus {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}

table.table  {
	background: #fff;
	border: 1px solid #e7e7e7;
}

/* loader */
.loader {
	background-image: url('../img/loader.gif');
	background-position: 50%;
	background-repeat: no-repeat;
	min-height: 32px;
	min-width: 32px;
}

/* title */
*[data-title]:after {
	background: rgba(0, 0, 0, .8);
	color: #fff;
	content: attr(data-title);
	font-family: notosans;
	font-size: 16px;
	line-height: 20px;
	margin-top: 10px;
	opacity: 0;
	padding: 10px;
	position: absolute;
	word-break: normal;
	z-index: -1;

	-webkit-transition: opacity .5s;
	   -moz-transition: opacity .5s;
	        transition: opacity .5s;
}

*[data-title]:hover:after {
	opacity: 1;
	z-index: 1;
}

/* only */
input[data-only='number'] {
	text-align: right;
}

/* otros */
.fa {
	line-height: 0;
}