*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video, input, select,
	textarea, button {
	background-color: transparent;
	border: 0;
	color: #757575; /* grey-600 */
	font: inherit;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 14px;
	margin: 0;
	outline: 0;
	padding: 0;

	/* webKit */
	-webkit-font-smoothing: antialiased;

	/* Safari and Chrome */
	text-rendering: optimizeLegibility;

	/* Firefox */
	-moz-osx-font-smoothing : grayscale;

	/* IE */
	font-feature-settings: 'liga';
}

html {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
	background-color: #F5F5F5; /* grey-100 */
}

div, span {
	color: inherit;
    font: inherit;
}

a {
	color: #616161; /* grey-700 */;
	cursor: pointer;
	font-weight: 500;
	text-decoration: none !important;
}

a:hover {
	color: #424242; /* grey-800 */;
	text-decoration: none;
}

a:focus {
	color: #212121; /* grey-900 */
	text-decoration: none;
}

form {
	height: inherit;
}

label {
	display: inline-block;
	font-weight: 500;
}

label:hover {
	color: #333;
	cursor: pointer;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 0;
}

textarea {
	height: 80px;
	resize: none;
}

textarea[data-height] {
	overflow-y: hidden;
}

::selection {
	background-color: #BDBDBD; /* grey-400 */
	text-shadow: none !important;
}

::-webkit-input-placeholder {
	color: #9E9E9E; /* grey-500 */
	font-weight: 300 !important;
	line-height: 1.4;
}

::-moz-placeholder {
	color: #9E9E9E; /* grey-500 */
	font-weight: 300 !important;
	line-height: 1.4;
}

:-moz-placeholder {
	color: #9E9E9E; /* grey-500 */
	font-weight: 300 !important;
	line-height: 1.4;
}

:-ms-input-placeholder {
	color: #9E9E9E; /* grey-500 */
	font-weight: 300 !important;
	line-height: 1.4;
}

/* print */
@media print {
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video, input, select,
	textarea, button {
		background: transparent;
		font-size: 12px;
	}
	
	input {
		height: auto !important;
		padding: 10px !important;
	}
	
	html, body {
		height: auto !important;
	    padding: 2mm;
	}

	main {
	    padding: 2mm 10mm;
	}
}