html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video, input, select,
	textarea, button {
	background-color: transparent;
	border: 0;
	color: #757575;  /* grey-600 */
	font: inherit;
	font-weight: normal;
	font-family: notosans;
	font-size: 13px;
	margin: 0;
	outline: 0;
	padding: 0;
	word-break: break-word;
	word-wrap: break-word;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::selection {
	background-color: #BDBDBD; /* grey-400 */
	text-shadow: none !important;
}

a {
	color: #616161; /* grey-700 */;
	cursor: pointer;
	font-family: notosansbold;
	text-decoration: none;
}

a:hover {
	color: #424242; /* grey-800 */;
	text-decoration: none;
}

a:link {
	color: #212121; /* grey-900 */
	text-decoration: none;
}

form {
	height: inherit;
}

label {
	display: inline-block;
	font-family: notosansbold;
	font-weight: normal;
}

label:hover {
	color: #333;
	cursor: pointer;
}

ol,ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 0;
}

textarea {
	height: 80px;
	resize: none;
}

textarea[data-height] {
	overflow-y: hidden;
}

::-webkit-input-placeholder,
::-moz-placeholder {
	color: #9E9E9E; /* grey-500 */
	line-height: 1.4;
}