/* reset */
button,
input,
select,
textarea,
.input,
.select:before,
.checkbox .checkbox-material .check,
.default2 {
	background-color: #FFFFFF; /* white */
	border: 1px solid #E0E0E0; /* grey-300 */
	color: #757575;  /* grey-600 */
}	

button,
input,
select,
textarea,
.input {
    box-sizing: border-box;
	font-weight: 400;
	font-size: 15px;
	height: 44px;
	padding: 10px;
	transition-property: background, border, box-shadow, color;
    transition-duration: .28s;
    transition-timing-function: ease;
	width: 100%;
}

select {
	cursor: pointer;
	height: 44px !important;
}

button,
input[type=button],
input[type=submit] {
	color: #FFFFFF; /* white */
	cursor: pointer;
	font-weight: 300;
	font-size: 16px;
	min-width: 56px;
	text-transform: uppercase;
}

input[type=text]:hover,
input[type=password]:hover,
input[type=date]:hover,
input[type=datetime-local]:hover,
input[type=datetime]:hover,
input[type=email]:hover,
input[type=number]:hover,
input[type=search]:hover,
input[type=tel]:hover,
input[type=time]:hover,
input[type=url]:hover,
select:hover,
textarea:hover,
.select:hover:before,
.select:hover:after,
.checkbox .checkbox-material .check:hover,
.default2:hover {
	border-color: #BDBDBD; /* grey-400 */
	color: #616161;  /* grey-700 */
}

input[type=text]:focus,
input[type=password]:focus,
input[type=date]:focus,
input[type=datetime-local]:focus,
input[type=datetime]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=time]:focus,
input[type=url]:focus,
select:focus,
textarea:focus,
.select:focus:before,
.select:focus:after,
.checkbox input[type=checkbox]:focus + .checkbox-material .check,
.default2:focus {
	border-color: #9E9E9E; /* grey-500 */
	color: #424242;  /* grey-800 */
}

button:disabled,
input[type=button]:disabled,
input[type=submit]:disabled {
	box-shadow: none !important;
}

button:disabled,
input:disabled,
input[type=button]:disabled,
input[type=submit]:disabled,
input[type=text]:disabled,
input[type=password]:disabled,
input[type=date]:disabled,
input[type=datetime-local]:disabled,
input[type=datetime]:disabled,
input[type=email]:disabled,
input[type=number]:disabled,
input[type=search]:disabled,
input[type=tel]:disabled,
input[type=time]:disabled,
input[type=url]:disabled,
textarea:disabled,
*[data-disabled='true'],
.default2:disabled,
.select[data-disabled='true']:before,
.select[data-disabled='true']:after,
.checkbox input[type=checkbox]:disabled + .checkbox-material .check,
select:disabled {
	border-color: #E0E0E0; /* grey-300 */
	color: #BDBDBD; /* grey-400 */
	cursor: not-allowed;
}

input:disabled,
input[type=text]:disabled,
input[type=password]:disabled,
input[type=date]:disabled,
input[type=datetime-local]:disabled,
input[type=datetime]:disabled,
input[type=email]:disabled,
input[type=number]:disabled,
input[type=search]:disabled,
input[type=tel]:disabled,
input[type=time]:disabled,
input[type=url]:disabled,
select:disabled,
textarea:disabled,
*[data-disabled='true'],
.select[data-disabled='true']:before,
.checkbox input[type=checkbox]:disabled + .checkbox-material .check,
.default2:disabled {
	background-color: #EEEEEE; /* grey-200 */ 
}

.select:before,
.default2 {
	background-color: #F5F5F5; /* grey-100 */
	box-shadow: none !important;
}

.select:hover:before,
.default2:hover {
	background-color: #EEEEEE; /* grey-200 */
}

.default2:focus {
	background-color: #E0E0E0; /* grey-300 */
}


/* commandButton */
.input {
	padding-top: 23px;
}

.btn-circle {
	border-radius: 50%;
	height: 60px;
	width: 60px;
}

.default-outline {
	background-color: transparent;
	border-color: #424242; /* grey-800 */
	color: #424242; /* grey-800 */
	box-shadow: none !important;
}

.default,.default-outline:hover {
	background-color: #424242; /* grey-800 */
	border-color: #424242; /* grey-800 */
	color: #FFFFFF; /* white */
}

.default:hover {
	background-color: #212121; /* grey-900 */
	border-color: #212121; /* grey-900 */
}

.default:disabled {
	background-color: #616161;  /* grey-700 */
	border-color: #616161;  /* grey-700 */
	color: #EEEEEE; /* grey-200*/
}

.default-outline:disabled {
	background-color: transparent;
	border-color: #616161;  /* grey-700 */
	color: #616161; /* grey-700 */
}

.primary-outline {
	background-color: transparent;
	border-color: #428bca;
	color: #428bca;
	box-shadow: none !important;
}

.primary, .primary-outline:hover  {
	background-color: #428bca;
	border-color: #428bca;
	color: #FFFFFF; /* white */
}

.primary:hover {
	background-color: #357ebd;
	border-color: #357ebd;
}

.primary:disabled {
	background-color: #7fa7c9;
	border-color: #7fa7c9;
	color: #EEEEEE; /* grey-200*/
}

.primary-outline:disabled {
	background-color: transparent;
	border-color: #7fa7c9;
	color: #7fa7c9;
}

.secondary-outline {
	background-color: transparent;
	border-color: #ca4242;
	color: #ca4242;
	box-shadow: none !important;
}

.secondary {
	background-color: #ca4242;
	border-color: #ca4242;
	color: #FFFFFF; /* white */
}

.secondary:hover, .secondary-outline:hover {
	background-color: #bd3535;
	border-color: #bd3535;
}

.secondary:disabled {
	background-color: #c97f7f;
	border-color: #c97f7f;
	color: #EEEEEE; /* grey-200*/
}

.secondary-outline:disabled {
	background-color: transparent;
	border-color: #c97f7f;
	color: #c97f7f;
}

.tertiary-outline {
	background-color: transparent;
	border-color: #60c451;
	color: #60c451;
	box-shadow: none !important;
}

.tertiary {
	background-color: #60c451;
	border-color: #60c451;
	color: #FFFFFF; /* white */
}

.tertiary:hover,.tertiary-outline:hover {
	background-color: #4bbd35;
	border-color: #4bbd35;
}

.tertiary:disabled {
	background-color: #89c97f;
	border-color: #89c97f;
	color: #EEEEEE; /* grey-200*/
}

.tertiary-outline:disabled {
	background-color: transparent;
	border-color: #89c97f;
	color: #89c97f;
}

button.transparent,
input.transparent,
input[type=button].transparent,
input[type=submit].transparent {
	background-color: transparent;
	border-color: transparent;
	color: #424242; /* grey-800 */
	font-size: 18px;
	height: 100%;
	line-height: 20px;
	min-width: 0;
	padding: 0;
	text-transform: none;
	width: auto;
}

button.transparent:hover,
input.transparent:hover,
input[type=button].transparent:hover,
input[type=submit].transparent:hover {
	background-color: transparent;
	border-color: transparent;
	color: #212121; /* grey-900 */
}

button.transparent:disabled,
input.transparent:disabled,
input[type=button].transparent:disabled,
input[type=submit].transparent:disabled {
	background-color: transparent;
	border-color: transparent;
	color: #616161;  /* grey-700 */
}

button.transparent,
button.transparent:hover,
button.transparent:focus,
input.transparent:focus,
input[type=button].transparent,
input[type=button].transparent:hover,
input[type=button].transparent:focus,
input[type=submit].transparent,
input[type=submit].transparent:hover,
input[type=submit].transparent:focus {
	box-shadow: none;
}


/* dataTable */
table.table  {
	background-color: #FFFFFF; /* white */
	border: 1px solid #E0E0E0; /* grey-300 */
}

@media screen {
	.tableResponsive {
		overflow-x: auto;
		overflow-y: hidden;
		width: 100%;
	}
	
	.tableResponsive > table > thead > tr > th,
	.tableResponsive > table > tbody > tr > th,
	.tableResponsive > table > tfoot > tr > th,
	.tableResponsive > table > thead > tr > td,
	.tableResponsive > table > tbody > tr > td,
	.tableResponsive > table > tfoot > tr > td {
		white-space: nowrap;
	}
}


/* graphicImage */
.loadingImage {
	background-image: url('../img/loader.gif');
	background-position: 50%;
	background-repeat: no-repeat;
	min-height: 32px;
	min-width: 32px;
}


/* icon */
.fa {
	color: inherit;
    display: inline;
	line-height: 0;
}


/* loadingPage */
.loadingPage {
	position: relative;
    background-color: #7fa7c9;
    border-radius: 0;
    box-shadow: none;
    display: block;
    height: 4px;
    margin: 0;
    overflow: hidden;
    width: 100%;
}

.loadingPage .loadingPage-bar {
	background-color: #357ebd;
}

.loadingPage .loadingPage-bar:before {
	content: '';
	position: absolute;
	background-color: inherit;
	bottom: 0;
	left: 0;
	top: 0;
	animation: loadingPage 5s ease-in-out infinite;
}

@keyframes loadingPage {
	0% {
		left: -150%;
		right: 100%;
	}
	
	100% {
		left: 100%;
		right: -150%;
	}
}


/* message */
.message span {
	vertical-align: middle;
}

.message div {
	background-image: url('../img/message.png');
	background-repeat: no-repeat;
	display: inline-block;
	height: 18px;
	margin-right: 4px;
	vertical-align: middle;
	width: 18px;
}

.message span.error {
	color: #C62828; /* red-800*/
}

.message div.error {
	background-position: 0 0;
}

.message span.fatal {
	color: #B71C1C; /* red-900 */
}

.message div.fatal {
	background-position: 0 0;
}

.message span.info {
	color: #558B2F; /* green-800*/
}

.message div.info {
	background-position: -18px 0;
}

.message span.warn {
	color: #F9A825; /* yellow-800*/
}

.message div.warn {
	background-position: -36px 0;
}

*[data-message$='error'] {
	border-color: #C62828; /* red-800*/
}

*[data-message$='fatal'] {
	border-color: #B71C1C; /* red-900*/
}

*[data-message$='info'] {
	border-color: #558B2F; /* green-800*/
}

*[data-message$='warn'] {
	border-color: #F9A825; /* yellow-800*/
}


/* messages */
.messages {
	height: 0;
	right: 0;
	position: fixed;
	top: 0;
	z-index: 3000;
}

.messages > ul {
	margin: 0;
	position: relative;
	right: -300px;
	top: 52px;
	transition: all .2s;
	width: 300px;
}

.messages > ul > li {
	color: #FFFFFF; /* white */
	margin-top: 10px;
	min-height: 72px;
	padding: 10px 10px 10px 72px;
	text-align: justify;
}

.messages > ul > li:before {
	display: block;
	font-family: FontAwesome;
	font-size: 60px;
	left: 10px;
	line-height: 0;
	position: absolute;
	top: 36px;
}

.messages > ul > li.error {
	background-color: rgba(198, 40, 40, .8); /* red-800 */
}

.messages > ul > li.error:before {
	content: "\f057";
}

.messages > ul > li.fatal {
	background-color: rgba(183, 28, 28, .8); /* red-900 */
}

.messages > ul > li.fatal:before {
	content: "\f05a";
}

.messages > ul > li.info {
	background-color: rgba(46, 125, 50, .8); /* green-800 */
}

.messages > ul > li.info:before {
	content: "\f058";
}

.messages > ul > li.warn {
	background-color: rgba(249, 168, 37, .8); /* yellow-800 */
}

.messages > ul > li.warn:before {
	content: "\f06a";
}


/* navbar */
nav {
	background-color: #428bca;
	height: 56px;
	line-height: 56px;
	width: 100%;
}

nav .iconSide,nav .logo  {
	color: #FFFFFF; /* white */
	cursor: pointer;
	display: inline-block;
	float: left;
	font-size: 1.6rem;
	line-height: inherit;
	padding: 0 15px;
}

nav .menu,nav .main {
	font-size: 0;
}

nav .menu li,nav .main li {
	display: inline-block;
}

nav .menu a,nav .main a {
	color: #FFFFFF !important; /* white */
	display: block;
	min-width: 50px;
	padding: 0 15px;
	text-align: center;
	transition: background-color .28s;
}

nav .menu .items,nav .main .items {
	margin: 10px;
	position: absolute;
	top: -56px;
	z-index: 1;
}

nav .menu .items ul,nav .main .items ul {
	background-color: #FFFFFF !important; /* white */
}

nav .menu .items li,nav .main .items li {
	display: block;
}

nav .menu .items a,nav .main .items a {
	color: #424242 !important; /* grey-800 */
	display: block;
	text-align: left;
	white-space: nowrap;
}

nav .side {
	background-color: #fff;
	height: 100%;
	left: 0;
	overflow-y: auto;
	position: fixed;
	top: 0;
	width: 240px;
	z-index: 2001;
	will-change: transform;
	transform: translateX(-105%);
	transition: transform .28s ease;
}

nav .side li {
	display: block;
	line-height: 64px;
}

nav .side a {
	color: #424242 !important; /* grey-800 */
	display: block;
	padding: 0 30px;
	transition: background-color .28s;
}

nav .side .items {
	overflow: hidden;
	transition: height .28s;
}

nav .side .items a {
	padding-left: 40px;
}

nav ul a:hover,nav .iconSide:hover,nav .logo:hover {
	background-color: rgba(0,0,0,.05);
}

@media only screen and (min-width: 993px) {
	nav[data-autoHide='true'] .iconSide {
		display: none;
	}
}

@media only screen and (max-width: 992px) {
	nav[data-autoHide='true'] .main {
		display: none;
	}
}

/* panel */
.panel {
	background-color: #FAFAFA; /* grey-50 */
	border: none;
	margin: auto;
	pointer-events: visible;
	width: 100%;
    border-radius: 0;
}

.panel > .head {
	background-color: #90A4AE; /* blue-grey-300 */
	border-bottom: 1px solid #90A4AE; /* blue-grey-300 */
	font-weight: 300;
	font-size: 22px;
	text-transform: uppercase;
	width: 100%;
}

.panel[data-opened='false'] > .head, .panel[data-opened='true'] > .head:hover {
	background-color: #B0BEC5; /* blue-grey-200 */
	border-bottom-color: #B0BEC5; /* blue-grey-200 */
}

.panel[data-opened='true'] > .head, .panel[data-opened='false'] > .head:hover {
	background-color: #90A4AE; /* blue-grey-300 */
	border-bottom-color: #90A4AE; /* blue-grey-300 */
}

.panel .panel[data-opened='false'] > .head, .panel .panel[data-opened='true'] > .head:hover {
	background-color: #78909C; /* blue-grey-400 */
	border-bottom-color: #78909C; /* blue-grey-400 */
}

.panel .panel[data-opened='true'] > .head, .panel .panel[data-opened='false'] > .head:hover {
	background-color: #607D8B; /* blue-grey-500 */
	border-bottom-color: #607D8B; /* blue-grey-500 */
}

.panel .panel {
	border: 1px solid #607D8B; /* blue-grey-500 */
}

.panel .panel .panel[data-opened='false'] > .head, .panel .panel .panel[data-opened='true'] > .head:hover {
	background-color: #546E7A; /* blue-grey-600 */
	border-bottom-color: #546E7A; /* blue-grey-600 */
}

.panel .panel .panel[data-opened='true'] > .head, .panel .panel .panel[data-opened='false'] > .head:hover {
	background-color: #455A64; /* blue-grey-700 */
	border-bottom-color: #455A64; /* blue-grey-700 */
}

.panel .panel .panel {
	border: 1px solid #455A64; /* blue-grey-700 */
}

.panel .panel .panel .panel[data-opened='false'] > .head, .panel .panel .panel .panel[data-opened='true'] > .head:hover {
	background-color: #37474F; /* blue-grey-800 */
	border-bottom-color: #37474F; /* blue-grey-800 */
}

.panel .panel .panel .panel[data-opened='true'] > .head, .panel .panel .panel .panel[data-opened='false'] > .head:hover {
	background-color: #263238; /* blue-grey-900 */
	border-bottom-color: #263238; /* blue-grey-900 */
}

.panel .panel .panel .panel {
	border: 1px solid #263238; /* blue-grey-900 */
}

.panel > .head * {
	color: #FFFFFF; /* white */
}

.panel > .head .accordionIcon {
	float: right;
	margin-top: 8px;
}

.panel > .body {

}

.panel > .foot {
	background-color: #EEEEEE; /* grey-200*/
	border-top: 1px solid #E0E0E0; /* grey-300*/
}

@media print {
	.panel {
		border: 1px solid #E0E0E0; /* grey-300*/
	}
}


/* popup*/
.modal {
	background-color: rgba(10, 10, 10, .6);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2000;
}

div.popup {
	bottom: 0;
	left: 0;
	pointer-events: none;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 2001;
}


/* section */
section.section {
	border: 1px solid #E0E0E0; /* grey-300 */
	text-align: justify;
	width: 100%;
}

section.section .title {
	border-bottom: 1px solid #E0E0E0; /* grey-300 */
	color: #757575; /* grey-600 */
	font-size: 18px;
	width: 100%;
}


/* selectManyCheckbox */
.checkbox {
	line-height: 0;
	margin: 0 !important;
}

.checkbox label {
	min-height: 20px;
	padding-left: 0;
}

.checkbox input[type=checkbox] {
	height: 0;
    width: 0;
	pointer-events: none;
	position: absolute;
	z-index: -1;
}

.checkbox .checkbox-material .check {
	display: inline-block;
	overflow: hidden;
	position: relative;
	height: 20px;
	width: 20px;
}

.checkbox .checkbox-material .check:before {
	content: "";
	margin-left: 7px;
	margin-top: -3px;
	position: absolute;
	transform: rotate(45deg);
}

.checkbox input[type=checkbox]:not(checked) + .checkbox-material .check:before {
	animation: checkbox-off .28s forwards;
}

.checkbox input[type=checkbox]:checked + .checkbox-material .check:before {
	animation: checkbox-on .28s forwards;
}

@keyframes checkbox-on {
	0% {
		box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
	}
	
	50% {
		box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
	}
	
	100% {
		box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
	}
}

@keyframes checkbox-off {
	0% {
		box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
	}
	
	25% {
		box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
	}
	
	50% {
		transform: rotate(45deg);
		margin-top: -4px;
		margin-left: 6px;
		width: 0px;
		height: 0px;
		box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px, 0 0 0 0 inset;
	}
	
	51% {
		transform: rotate(0deg);
		margin-top: -2px;
		margin-left: -2px;
		width: 20px;
		height: 20px;
		box-shadow: 0 0 0 0, 0 0 0 0,  0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 10px inset;
	}
	
	100% {
		transform: rotate(0deg);
		margin-top: -2px;
		margin-left: -2px;
		width: 20px;
		height: 20px;
		box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0 inset;
	}
}


/* selectOneMenu */
select {
	appearance: none;
}

.select {
	display: inline-block;
	position: relative;
	width: 100%;
}

.select:before,.select:after {
	content: "";
	display: block;
	pointer-events: none;
	position: absolute;
}

.select:before {
	bottom: 1px;
    border-bottom: none;
    border-right: none;
    border-top: none;
    right: 1px;
    top: 1px;
    width: 40px;
}

.select:after {
	content: "\f0dd";
	font-family: FontAwesome;
	font-size: 18px;
	margin-right: 15px;
	margin-top: 10px;
	right: 0;
	top: 0;
}


/* wait */
.wait {
	background: #000 url("../img/wait.gif") no-repeat 50% 50%;
	border-radius: 25px;
    box-shadow: 0 0 10px #000000; /* black */
	display: block;
	height: 50px;
	opacity: .4;
	position: absolute;
	width: 50px;
}

/* others */
datetimepicker {
	text-align: center;
}

input[data-only='number'] {
	text-align: right;
}

*[data-title]:after {
	background-color: rgba(0, 0, 0, .8);
	color: #FFFFFF; /* white */
	content: attr(data-title);
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	margin-top: 10px;
	opacity: 0;
	padding: 10px;
	position: absolute;
	text-transform: none;
	transition: opacity .5s;
	word-break: normal;
	z-index: -1;
}

*[data-title]:hover:after {
	opacity: 1;
	z-index: 1;
}