/* reset */
button,
input,
select,
textarea,
.input,
.select:before,
.checkbox-material span:first-child,
.default2 {
	background-color: #FFFFFF; /* white */
	border: 1px solid #E0E0E0; /* grey-300 */
	color: #757575;  /* grey-600 */
}

button,
input,
select,
textarea,
.input {
    box-sizing: border-box;
	font-weight: 400;
	font-size: 15px;
	height: 48px;
	padding: 10px;
	transition-property: background, border, box-shadow, color;
    transition-duration: .28s;
    transition-timing-function: ease;
	width: 100%;
}

select {
	cursor: pointer;

	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}

button,
input[type=button],
input[type=submit] {
	color: #FFFFFF; /* white */
	cursor: pointer;
	font-weight: 300;
	font-size: 16px;
	padding: 10px 15px;
	text-transform: uppercase;
}


input[type=checkbox] {
	background-color: transparent;
	height: auto;
	padding: 0;
	width: auto;
}

input[type=text]:hover,
input[type=password]:hover,
input[type=date]:hover,
input[type=datetime-local]:hover,
input[type=datetime]:hover,
input[type=email]:hover,
input[type=number]:hover,
input[type=search]:hover,
input[type=tel]:hover,
input[type=time]:hover,
input[type=url]:hover,
select:hover,
textarea:hover,
.select:hover:before,
.select:hover:after,
.checkbox label:hover span:first-child,
.default2:hover {
	border-color: #BDBDBD; /* grey-400 */
	color: #616161;  /* grey-700 */
}

input[type=text]:focus,
input[type=password]:focus,
input[type=date]:focus,
input[type=datetime-local]:focus,
input[type=datetime]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=time]:focus,
input[type=url]:focus,
select:focus,
textarea:focus,
.select:focus:before,
.select:focus:after,
.checkbox input:focus + span:first-child,
.default2:focus {
	border-color: #9E9E9E; /* grey-500 */
	color: #424242;  /* grey-800 */
}

button:hover,
input[type=button]:hover,
input[type=submit]:hover {
	opacity: .9;
}

button:focus,
input[type=button]:focus,
input[type=submit]:focus {
	opacity: .8;
}

button:disabled,
input[type=button]:disabled,
input[type=submit]:disabled {
	box-shadow: none !important;
}

button:disabled,
input:disabled,
input[type=button]:disabled,
input[type=submit]:disabled,
input[type=text]:disabled,
input[type=password]:disabled,
input[type=date]:disabled,
input[type=datetime-local]:disabled,
input[type=datetime]:disabled,
input[type=email]:disabled,
input[type=number]:disabled,
input[type=search]:disabled,
input[type=tel]:disabled,
input[type=time]:disabled,
input[type=url]:disabled,
textarea:disabled,
*[data-disabled='true'],
.default2:disabled,
.select[data-disabled='true']:before,
.select[data-disabled='true']:after,
.checkbox input:disabled + span:first-child,
select:disabled {
	border-color: #E0E0E0; /* grey-300 */
	color: #BDBDBD; /* grey-400 */
	cursor: not-allowed;
}

input:disabled,
input[type=text]:disabled,
input[type=password]:disabled,
input[type=date]:disabled,
input[type=datetime-local]:disabled,
input[type=datetime]:disabled,
input[type=email]:disabled,
input[type=number]:disabled,
input[type=search]:disabled,
input[type=tel]:disabled,
input[type=time]:disabled,
input[type=url]:disabled,
select:disabled,
textarea:disabled,
*[data-disabled='true'],
.select[data-disabled='true']:before,
.checkbox input:disabled + span:first-child,
.default2:disabled {
	background-color: #EEEEEE; /* grey-200 */
}

.select:before,
.default2 {
	background-color: #F5F5F5; /* grey-100 */
	box-shadow: none !important;
}

.select:hover:before,
.default2:hover {
	background-color: #EEEEEE; /* grey-200 */
}

.default2:focus {
	background-color: #E0E0E0; /* grey-300 */
}


/* alert */
.alert {
	font-size: 18px;
	font-weight: 300;
	line-height: 24px;
	padding: 10px;
	text-align: center;
}

.alert-title {
	font-weight: 700;
	text-transform: uppercase;
}

.alert-info {
	background-color: #BBDEFB; /* Blue-100 */
	border: 1px solid #2196F3; /* Blue-500 */
	color: #0D47A1; /* Blue-900 */
}

.alert-success {
	background-color: #C8E6C9; /* green-100 */
	border: 1px solid #4CAF50; /* green-500 */
	color: #1B5E20; /* green-900 */
}

.alert-warning {
	background-color: #FFF9C4; /* yellow-100 */
	border: 1px solid #FFEB3B; /* yellow-500 */
	color: #F57F17; /* yellow-900 */
}

.alert-danger {
	background-color: #FFCDD2; /* red-100 */
	border: 1px solid #F44336; /* red-500 */
	color: #B71C1C; /* red-900 */
}

/* commandButton */
button:disabled.cWait {
	cursor: wait;
}

.input {
	padding-top: 23px;
}

.default-outline,
.default-simple {
	background-color: transparent;
	border-color: #424242; /* grey-800 */
	color: #424242; /* grey-800 */
	box-shadow: none !important;
}

.default,
.default-outline:hover {
	background-color: #424242; /* grey-800 */
	border-color: #424242; /* grey-800 */
	color: #FFFFFF; /* white */
}

.default:hover {
	background-color: #212121; /* grey-900 */
	border-color: #212121; /* grey-900 */
}

.default:disabled {
	background-color: #616161;  /* grey-700 */
	border-color: #616161;  /* grey-700 */
	color: #EEEEEE; /* grey-200 */
}

.default-outline:disabled,
.default-simple:disabled {
	background-color: transparent;
	border-color: #616161;  /* grey-700 */
	color: #616161; /* grey-700 */
}

.primary-outline,
.primary-simple {
	background-color: transparent;
	border-color: #428bca;
	color: #428bca;
	box-shadow: none !important;
}

.primary,
.primary-outline:hover  {
	background-color: #428bca;
	border-color: #428bca;
	color: #FFFFFF; /* white */
}

.primary:hover {
	background-color: #357ebd;
	border-color: #357ebd;
}

.primary:disabled {
	background-color: #7fa7c9;
	border-color: #7fa7c9;
	color: #EEEEEE; /* grey-200 */
}

.primary-outline:disabled,
.primary-simple:disabled {
	background-color: transparent;
	border-color: #7fa7c9;
	color: #7fa7c9;
}

.secondary-outline,
.secondary-simple {
	background-color: transparent;
	border-color: #ca4242;
	color: #ca4242;
	box-shadow: none !important;
}

.secondary {
	background-color: #ca4242;
	border-color: #ca4242;
	color: #FFFFFF; /* white */
}

.secondary:hover,
.secondary-outline:hover {
	background-color: #bd3535;
	border-color: #bd3535;
}

.secondary:disabled {
	background-color: #c97f7f;
	border-color: #c97f7f;
	color: #EEEEEE; /* grey-200 */
}

.secondary-outline:disabled,
.secondary-simple:disabled {
	background-color: transparent;
	border-color: #c97f7f;
	color: #c97f7f;
}

.tertiary-outline,
.tertiary-simple {
	background-color: transparent;
	border-color: #60c451;
	color: #60c451;
	box-shadow: none !important;
}

.tertiary {
	background-color: #60c451;
	border-color: #60c451;
	color: #FFFFFF; /* white */
}

.tertiary:hover,
.tertiary-outline:hover {
	background-color: #4bbd35;
	border-color: #4bbd35;
}

.tertiary:disabled {
	background-color: #89c97f;
	border-color: #89c97f;
	color: #EEEEEE; /* grey-200 */
}

.tertiary-outline:disabled,
.tertiary-simple:disabled {
	background-color: transparent;
	border-color: #89c97f;
	color: #89c97f;
}

.default-simple,
.primary-simple,
.secondary-simple,
.tertiary-simple {
	border-color: transparent !important;
	padding: 10px;
}

.default-simple:focus,
.primary-simple:focus,
.secondary-simple:focus,
.tertiary-simple:focus {
	background-color: rgba(0,0,0,.125);
}

.default-simple:hover,
.primary-simple:hover,
.secondary-simple:hover,
.tertiary-simple:hover {
	background-color: rgba(0,0,0,.1);
}

button.transparent,
input.transparent,
input[type=button].transparent,
input[type=submit].transparent,
select.transparent {
	background-color: transparent;
	border-color: transparent;
	color: #424242; /* grey-800 */
	font-size: 16px;
	height: 100%;
	line-height: 1;
	min-width: 18px;
	padding: 0;
	width: auto;
}

select.transparent {
	padding: 0 10px;
}

button.transparent:hover,
input.transparent:hover,
input[type=button].transparent:hover,
input[type=submit].transparent:hover,
select.transparent {
	background-color: transparent;
	border-color: transparent;
	color: #212121; /* grey-900 */
}

button.transparent:disabled,
input.transparent:disabled,
input[type=button].transparent:disabled,
input[type=submit].transparent:disabled,
select.transparent {
	background-color: transparent;
	border-color: transparent;
	color: #616161;  /* grey-700 */
}

button.transparent,
button.transparent:hover,
button.transparent:focus,
input.transparent:focus,
input[type=button].transparent,
input[type=button].transparent:hover,
input[type=button].transparent:focus,
input[type=submit].transparent,
input[type=submit].transparent:hover,
input[type=submit].transparent:focus,
select.transparent {
	box-shadow: none;
}

.btn-text-box, .btn-wait-box {
	color: inherit;
	font: inherit;
	line-height: 16px;
}

.btn-text-icon, .btn-wait-icon {
	display: inline-block;
	vertical-align: middle;
}

.btn-text-value, .btn-wait-value {
	color: inherit;
	display: inline-block;
	font: inherit;
	line-height: 16px;
	vertical-align: middle;
}

button.default .wait-path,
button.primary .wait-path,
button.secondary .wait-path,
button.tertiary .wait-path {
	stroke: #FFFFFF; /* white */
}

button.default-outline .wait-path,
.default-simple .wait-path {
	stroke: #424242; /* grey-800 */
}

button.default2 .wait-path,
button.transparent .wait-path,
button.primary-outline .wait-path,
.primary-simple .wait-path {
	stroke: #428bca;
}

button.secondary-outline .wait-path,
.secondary-simple .wait-path {
	stroke: #ca4242;
}

button.tertiary-outline .wait-path
.tertiary-simple .wait-path {
	stroke: #60c451;
}


/* dataTable */
.table  {
	background-color: #FFFFFF; /* white */
	border: 1px solid #E0E0E0; /* grey-300 */
	max-width: 100%;
	width: 100%;
}

.table th,
.table td {
	border: 1px solid #E0E0E0; /* grey-300 */
	padding: 10px;
}

.table th {
	border-bottom: 2px solid #E0E0E0; /* grey-300 */
	text-align: left;
}

.table > tbody > tr:nth-child(odd) {
	background-color: #F5F5F5; /* grey-100 */
}

.tableHover > tbody > tr:hover {
	background-color: #EEEEEE !important; /* grey-200 */
}

@media print {
	.table > tbody > tr:nth-child(odd) {
		background-color: transparent;
	}
}


/* fab */
.fab {
	padding: 20px;
	pointer-events: none;
	position: fixed;
	z-index: 2001;
}

.fabItem.trigger button {
	border-radius: 50%;
	height: 56px;
	min-width: 56px;
	width: 56px;
}

.fabItems {
	padding: 12px 0;
}

.fabItems .fabItem {
	padding: 8px;
}

.fabItems .fabItem > span {
	margin: 8px;
	padding: 4px 8px;
}

.fabItems .fabItem button {
	border-radius: 50%;
	border-width: 0;
	height: 40px;
	min-width: 40px;
	padding: 0;
	width: 40px;
}

.fabItems .fabItem i.material-icons {
	font-size: 18px;
	line-height: 1;
}


/* graphicImage */
.loadingImage {
	background-image: url('../img/loader.gif');
	background-position: 50%;
	background-repeat: no-repeat;
	min-height: 32px;
	min-width: 32px;
}


/* icon */
.fa {
	font-size: 18px;
}

.fa,
.material-icons {
	color: inherit;
	text-align: center;
	vertical-align: middle;
}

.fa.panel-icon-head {
	font-size: 24px;
}

.material-icons.panel-icon-head {
	font-size: 28px;
}

.fa.title {
	font-size: 20px;
}

.material-icons.title {
	font-size: 28px;
}


/* input */
.input-md-effect {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #E0E0E0 !important; /* grey-300 */
	padding-left: 0;

	transition: all 0.28s ease-in-out;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #00b0ec 4%);
	background-position: -100vw 0;
	background-size: 100% 100%;
	background-repeat: no-repeat;

}

.input-md-effect:focus {
	background-position: 0 0;
	border-bottom-color: transparent;
}

.input-placeholder-effect::-webkit-input-placeholder {
	transition: all 0.28s ease-in-out;
}

.input-placeholder-effect:focus::-webkit-input-placeholder {
	font-size: 11px;
	transform: translateY(-20px);
	visibility: visible !important;
}

.input-placeholder-effect::-moz-placeholder {
	transition: all 0.28s ease-in-out;
}

.input-placeholder-effect:focus::-moz-placeholder {
	font-size: 11px;
	transform: translateY(-20px);
	visibility: visible !important;
}

.input-placeholder-effect:-moz-placeholder {
	transition: all 0.28s ease-in-out;
}

.input-placeholder-effect:focus:-moz-placeholder {
	font-size: 11px;
	transform: translateY(-20px);
	visibility: visible !important;
}

.input-placeholder-effect:-ms-input-placeholder {
	transition: all 0.28s ease-in-out;
}

.input-placeholder-effect:focus:-ms-input-placeholder {
	font-size: 11px;
	transform: translateY(-20px);
	visibility: visible !important;
}


/* loadingPage */
.loadingPage {
	position: relative;
    background-color: #7fa7c9;
    border-radius: 0;
    box-shadow: none;
    display: block;
    height: 4px;
    margin: 0;
    overflow: hidden;
    width: 100%;
}

.loadingPage .loadingPage-bar {
	background-color: #357ebd;
}

.loadingPage .loadingPage-bar:before {
	content: '';
	position: absolute;
	background-color: inherit;
	bottom: 0;
	left: 0;
	top: 0;
	animation: loadingPage 5s ease-in-out infinite;
}

@keyframes loadingPage {
	0% {
		left: -150%;
		right: 100%;
	}

	100% {
		left: 100%;
		right: -150%;
	}
}


/* message */
.message span {
	vertical-align: middle;
}

.message div {
	background-image: url('../img/message.png');
	background-repeat: no-repeat;
	display: inline-block;
	height: 18px;
	margin-right: 4px;
	vertical-align: middle;
	width: 18px;
}

.message span.error {
	color: #C62828; /* red-800 */
}

.message div.error {
	background-position: 0 0;
}

.message span.fatal {
	color: #B71C1C; /* red-900 */
}

.message div.fatal {
	background-position: 0 0;
}

.message span.info {
	color: #558B2F; /* green-800 */
}

.message div.info {
	background-position: -18px 0;
}

.message span.warn {
	color: #F9A825; /* yellow-800 */
}

.message div.warn {
	background-position: -36px 0;
}

*[data-message$='error'] {
	border-color: #C62828; /* red-800 */
}

*[data-message$='fatal'] {
	border-color: #B71C1C; /* red-900 */
}

*[data-message$='info'] {
	border-color: #558B2F; /* green-800 */
}

*[data-message$='warn'] {
	border-color: #F9A825; /* yellow-800 */
}


/* messages */
.messages {
	background-color: #424242; /* grey-800 */
	bottom: 0;
	left: 0;
	padding: 20px;
	pointer-events: none;
	position: fixed;
	width: 100%;
	z-index: 3000;
}

.messages.tablet {
	bottom: auto;
	left: auto;
	margin: 10px;
	max-width: 400px;
	min-width: 200px;
	right: 0;
	top: 56px;
	width: auto;
}

.messages .messages-content {
	color: #FFFFFF; /* white */
	font-size: 16px;
	font-weight: 300;
}


/* items */
.items {
	margin: 10px 0;
	position: absolute;
}

.items ul {
	background-color: #FFFFFF; /* white */
	overflow-x: hidden;
	overflow-y: auto;
}

.items.aLeft.aBottom ul {
	transform-origin: left bottom 0;
}

.items.aLeft.aTop ul {
	transform-origin: left top 0;
}

.items.aRight.aBottom ul {
	transform-origin: right bottom 0;
}

.items.aRight.aTop ul {
	transform-origin: right top 0;
}

.items li {
	display: block;
}

.items a {
	color: #424242 !important; /* grey-800 */
	display: block;
	padding: 15px 30px 15px 15px;
	text-align: left !important;
	white-space: nowrap;
}

.items a:hover {
	background-color: rgba(0,0,0,.07);
}

.items li .fa {
	min-width: 34px;
}

/* navbar */
nav {
	background-color: #428bca;
	height: 56px;
	line-height: 56px;
	width: 100%;
}

nav .iconSide,nav .logo  {
	color: #FFFFFF; /* white */
	cursor: pointer;
	display: inline-block;
	float: left;
	font-size: 24px;
	line-height: inherit;
	padding: 0 15px;
}

nav .menu,nav .main {
	font-size: 0;
}

nav .menu > li,nav .main > li {
	display: inline-block;
}

nav .menu a,nav .main a {
	color: #FFFFFF; /* white */
	display: block;
	min-width: 50px;
	padding: 0 15px;
	text-align: center;
}

nav .menu .items,nav .main .items {
	margin: 10px;
	top: -56px;
	z-index: 1;
}

nav .side {
	background-color: #FFFFFF; /* white */
	height: 100%;
	left: -260px;
	overflow-y: auto;
	position: fixed;
	top: 0;
	width: 240px;
	z-index: 2001;
}

nav .side li {
	display: block;
	line-height: 64px;
}

nav .side a {
	color: #424242; /* grey-800 */
	display: block;
	padding: 0 30px;
	transition: background-color .28s;
}

nav .side .items {
	margin: 0;
	position: inherit;
	overflow: hidden;
	transition: height .28s;
}

nav .side .items a {
	padding-left: 40px;
}

nav ul a:hover,nav .iconSide:hover {
	background-color: rgba(0,0,0,.05);
}

@media only screen and (min-width: 641px) {
	nav[data-autoHide='true'] .iconSide {
		display: none;
	}
}

@media only screen and (max-width: 640px) {
	nav[data-autoHide='true'] .main {
		display: none;
	}
}

/* panel */
.panel {
	background-color: #FAFAFA; /* grey-50 */
	margin: auto;
	pointer-events: visible;
	width: 100%;
}

.panel > .head  {
	background-color: #EEEEEE; /* grey-200 */
	font-size: 22px;
	font-weight: 300;
	height: 56px;
	line-height: 1.6;
	text-transform: uppercase;
	width: 100%;
}

.panel .panel > .head {
	background-color: #E0E0E0; /* grey-300 */
}

.panel .panel .panel > .head {
	background-color: #BDBDBD; /* grey-400 */
}

.panel .panel .panel .panel > .head {
	background-color: #9E9E9E; /* grey-500 */
}

.panel .panel .panel .panel .panel > .head {
	background-color: #757575; /* grey-600 */
}

.panel .panel[data-opened='true'] {
	border: 1px solid #E0E0E0; /* grey-300 */
}

.panel .panel .panel[data-opened='true'] {
	border: 1px solid #BDBDBD; /* grey-400 */
}

.panel .panel .panel .panel[data-opened='true'] {
	border: 1px solid #9E9E9E; /* grey-500 */
}

.panel .panel .panel .panel .panel[data-opened='true'] {
	border: 1px solid #757575; /* grey-600 */
}

.panel > .head * {
	color: #616161; /* grey-700 */
}

.panel .panel > .head * {
	color: #424242; /* grey-800 */
}

.panel .panel .panel > .head *,
.panel .panel .panel .panel  > .head *,
.panel .panel .panel .panel .panel  > .head * {
	color: #FFFFFF; /* while */
}

.panel > .body {

}

.panel .foot {
	background-color: #EEEEEE; /* grey-200 */
	border-top: 1px solid #E0E0E0; /* grey-300 */
}

@media print {
	.panel {
		background: transparent;
		border: none;
		box-shadow: none !important;
	}

	.panel > .head {
		background: transparent !important;
		border-bottom: 1px solid #E0E0E0; /* grey-300 */
	}

	.panel > .head * {
		color: #757575 !important; /* grey-600 */
	}

	.panel .panel {
		border: 1px solid #E0E0E0; /* grey-300 */
	}

	.panel .panel .panel {
		border: 1px solid #BDBDBD; /* grey-400 */
	}

	.panel .panel .panel .panel {
		border: 1px solid #9E9E9E; /* grey-500 */
	}

	.panel .panel .panel .panel .panel {
		border: 1px solid #757575; /* grey-600 */
	}

	.panel .panel > .head {
		border-bottom: 1px solid #E0E0E0; /* grey-300 */
	}

	.panel .panel .panel > .head {
		border-bottom: 1px solid #BDBDBD; /* grey-400 */
	}

	.panel .panel .panel .panel > .head {
		border-bottom: 1px solid #9E9E9E; /* grey-500 */
	}

	.panel .panel .panel .panel .panel > .head {
		border-bottom: 1px solid #757575; /* grey-600 */
	}
}


/* popup */
.modal {
	background-color: rgba(10, 10, 10, .6);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2000;
}

.popup {
	bottom: 0;
	left: 0;
	pointer-events: none;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 2001;
}

.popup .panel {
	background-color: #FFFFFF; /* white */
}

.popup .panel > .head  {
	background-color: #F5F5F5; /* grey-100 */
	border-bottom: 1px solid #F5F5F5; /* grey-100 */
	position: relative;
	z-index: 1;
}

.popup .panel > .head * {
	color: #616161; /* grey-700 */
}

.popup .panel > .body {
	overflow: auto;
}

.popup .panel > .body > span,
.popup .panel > .body > div {
    font-size: 18px;
}

.popup .section span,
.popup .section div {
    font-size: 16px;
}

.popup .panel > .body table *,
.popup .panel > .body .message span {
    font-size: 14px !important;
}

.popup .panel > .foot {
	background-color: transparent;
	border-top: 1px solid #E0E0E0; /* grey-300 */
	position: relative;
	z-index: 1;
}

.popup .panel > .foot.bShadow2dpNe {
	border-top: none;
}

.popup-icon-back  {
	display: none;
}

.expandable .popup-icon-back  {
	display: inline-block;
}

.panel-icon-head,
.popup-icon-close  {
	display: inline-block;
}

.expandable .panel-icon-head,
.expandable .popup-icon-close  {
	display: none;
}


/* section */
.section {
	border: 1px solid #E0E0E0; /* grey-300 */
	text-align: justify;
}

.section .title {
	border-bottom: 1px solid #E0E0E0; /* grey-300 */
	color: #757575; /* grey-600 */
	font-size: 18px;
	width: 100%;
}


/* selectManyCheckbox */
.checkbox {
	line-height: 0;
}

.checkbox label {
	height: 20px;
	width: 100%;
}

.checkbox input {
	pointer-events: none;
	position: absolute;
	visibility: hidden;
}

.checkbox-material span:first-child {
	display: inline-block;
	float: left;
	height: 20px;
	margin-right: 10px;
	overflow: hidden;
	position: relative;
	width: 20px;
}

.checkbox-material span:first-child:before {
	content: "";
	margin-left: 7px;
	margin-top: -3px;
	position: absolute;
	transform: rotate(45deg);
}

.checkbox label span:last-child {
	display: inline-block;
	font-weight: 400;
	line-height: 21px;
	width: calc(100% - 30px);
}

.items .checkbox label span:last-child {
	padding-right: 10px;
}

.checkbox label:hover span:last-child {
	font-weight: 500;
}

.checkbox input:not(checked) + .checkbox-material span:first-child:before {
	animation: checkbox-off .28s forwards;
}

.checkbox input:checked + .checkbox-material span:first-child:before {
	animation: checkbox-on .28s forwards;
}

@keyframes checkbox-on {
	0% {
		box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
	}

	50% {
		box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
	}

	100% {
		box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
	}
}

@keyframes checkbox-off {
	0% {
		box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
	}

	25% {
		box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
	}

	50% {
		transform: rotate(45deg);
		margin-top: -4px;
		margin-left: 6px;
		width: 0px;
		height: 0px;
		box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px, 0 0 0 0 inset;
	}

	51% {
		transform: rotate(0deg);
		margin-top: -2px;
		margin-left: -2px;
		width: 20px;
		height: 20px;
		box-shadow: 0 0 0 0, 0 0 0 0,  0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 10px inset;
	}

	100% {
		transform: rotate(0deg);
		margin-top: -2px;
		margin-left: -2px;
		width: 20px;
		height: 20px;
		box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0 inset;
	}
}


/* selectOneMenu */
.select {
	display: inline-block;
	position: relative;
	width: 100%;
}

.select:before,.select:after {
	content: "";
	display: block;
	pointer-events: none;
	position: absolute;
}

.select:before {
	bottom: 1px;
    border-bottom: none;
    border-right: none;
    border-top: none;
    right: 1px;
    top: 1px;
    width: 40px;
}

.select:after {
	content: "\f0dd";
	font-family: FontAwesome;
	font-size: 18px;
	margin-right: 15px;
	margin-top: 10px;
	right: 0;
	top: 0;
}


/* separator */
.separator-horizontal,
.separator-vertical,
.s-separator-horizontal,
.s-separator-vertical,
.m-separator-horizontal,
.m-separator-vertical,
.l-separator-horizontal,
.l-separator-vertical {
	border: 0 solid #E0E0E0 !important; /* grey-300 */
}

.separator-horizontal {
	border-top-width: 1px !important;
}

.separator-vertical {
	border-right-width: 1px !important;
}

@media only screen and (max-width: 640px) {
	.s-separator-horizontal {
		border-top-width: 1px !important;
	}

	.s-separator-vertical {
		border-right-width: 1px !important;
	}
}

@media only screen and (min-width: 641px) {
	.m-separator-horizontal {
		border-top-width: 1px !important;
	}

	.m-separator-vertical {
		border-right-width: 1px !important;
	}
}

@media only screen and (min-width: 961px) {
	.l-separator-horizontal {
		border-top-width: 1px !important;
	}

	.l-separator-vertical {
		border-right-width: 1px !important;
	}
}


/* wait */
.wait-box  {
	cursor: wait;
	padding: 20px;
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
	z-index: 2002;
}

.wait-spinner {
	-webkit-animation: wait-rotator 1.6s linear infinite;
			animation: wait-rotator 1.6s linear infinite;
}

@-webkit-keyframes wait-rotator {
	0% {
		-webkit-transform: rotate(0deg);
				transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(270deg);
				transform: rotate(270deg);
	}
}

@keyframes wait-rotator {
	0% {
		-webkit-transform: rotate(0deg);
				transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(270deg);
				transform: rotate(270deg);
	}
}

.wait-path {
	stroke: #428bca;
	stroke-dasharray: 187;
	stroke-dashoffset: 0;
	-webkit-transform-origin: center;
			transform-origin: center;
	-webkit-animation: wait-dash 1.6s ease-in-out infinite;
			animation: wait-dash 1.6s ease-in-out infinite;
}

@-webkit-keyframes wait-dash {
	0% {
		stroke-dashoffset: 187;
	}

	50% {
		stroke-dashoffset: 46.75;
		-webkit-transform: rotate(135deg);
				transform: rotate(135deg);
	}

	100% {
		stroke-dashoffset: 187;
		-webkit-transform: rotate(450deg);
				transform: rotate(450deg);
	}
}

@keyframes wait-dash {
	0% {
		stroke-dashoffset: 187;
	}

	50% {
		stroke-dashoffset: 46.75;
		-webkit-transform: rotate(135deg);
				transform: rotate(135deg);
	}

	100% {
		stroke-dashoffset: 187;
		-webkit-transform: rotate(450deg);
				transform: rotate(450deg);
	}
}


/* others */
datetimepicker {
	text-align: center;
}

input[data-only='number'] {
	text-align: right;
}

*[data-title]:after {
	background-color: rgba(0, 0, 0, .8);
	color: #FFFFFF; /* white */
	content: attr(data-title);
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	margin-top: 10px;
	opacity: 0;
	padding: 10px;
	pointer-events: none;
	position: absolute;
	text-transform: none;
	transition: opacity .28s;
	white-space: nowrap;
	word-break: normal;
	z-index: -1;
}

*[data-title]:hover:after {
	opacity: 1;
	z-index: 1;
}